In [1]:
#输入长度和单位
from nbformat import convert


length=float(input("请输入长度"))
unit=input("输入单位cm或inch")

if unit.lower()=="cm":
    converted_length=length*0.39
    print(f"{int(length)}厘米={int(converted_length)}英寸")

In [4]:
# 定义转换比例
cm_to_inch = 0.39
inch_to_cm = 2.54

# 计算 15 英寸对应多少厘米，结果保留整数部分
a1 = int(15 * inch_to_cm)

# 计算 40 厘米对应多少英寸，结果保留整数部分
a2 = int(40 * cm_to_inch)



print(15*2.54)
print(40*0.39)

38.1
15.600000000000001

In [2]:
# 定义一个函数来判断成绩等级
def get_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "E"

# 小明、小张和小王的成绩
score_xiaoming = int(79)  # 79分
score_xiaozhang = int(90)  # 90分
score_xiaowang = int(89)  # 89分

# 判断他们对应的成绩等级
a3 = get_grade(score_xiaoming)
a4 = get_grade(score_xiaozhang)
a5 = get_grade(score_xiaowang)

# 输出结果
print(f"小明的成绩等级是: {a3}")
print(f"小张的成绩等级是: {a4}")
print(f"小王的成绩等级是: {a5}")

小明的成绩等级是: C
小张的成绩等级是: A
小王的成绩等级是: B

In [3]:
import math

def is_triangle(a, b, c):
    # 判断是否能构成三角形
    return a + b > c and a + c > b and b + c > a

def triangle_perimeter(a, b, c):
    # 计算三角形的周长，保留整数部分
    return int(a + b + c)

def triangle_area(a, b, c):
    # 使用海伦公式计算三角形的面积，保留整数部分
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return int(area)

# 判断第一组值 [6, 10, 9]
a1, b1, c1 = 6, 10, 9
if is_triangle(a1, b1, c1):
    a6 = triangle_perimeter(a1, b1, c1)
    a7 = triangle_area(a1, b1, c1)
    print(f"第一组：周长为 {a6}，面积为 {a7}")
else:
    print("第一组：no")

# 判断第二组值 [9, 16, 25]
a2, b2, c2 = 9, 16, 25
if is_triangle(a2, b2, c2):
    a8 = "yes"
    print(f"第二组：周长为 {triangle_perimeter(a2, b2, c2)}，面积为 {triangle_area(a2, b2, c2)}")
else:
    a8 = "no"
    print("第二组：no")

# 判断第三组值 [13, 12, 5]
a3, b3, c3 = 13, 12, 5
if is_triangle(a3, b3, c3):
    a9 = triangle_perimeter(a3, b3, c3)
    a10 = triangle_area(a3, b3, c3)
    print(f"第三组：周长为 {a9}，面积为 {a10}")
else:
    print("第三组：no")

第一组：周长为 25，面积为 26
第二组：no
第三组：周长为 30，面积为 30

In [10]:
#素数求法
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return  'no'
    return 'yes'

a1=is_prime(13)
a2=is_prime(171)
a1,a2

('yes', 'no')

In [1]:
import math

#最大公约数
a3=math.gcd(20,16)

#最小公倍数 最小公倍数=两数乘积/最大公约数
a4=(20*16)//a3
a5=math.gcd(15,70)
a6=(15*70)//a5

(4, 80)

In [4]:
s1 = 'Hello world! 123'

a7=sum(1 for char in s1 if char.isalpha())
a8=sum(1 for num in s1 if num.isdigit())

(10, 3)

In [9]:
s2 = 'qw15eki!9co2i1n4|'
a9=sum(1 for i in s2 if i.isalpha())
a10=sum(1 for i in s2 if i.isdigit())

a9,a10

(9, 6)

In [11]:
def compare(a,b):
    if a>b:
        return '大于'
    elif a<b:
        return '小于'
import math
a=math.log(3)/3
b=math.log(5)/5
a1=compare(a,b)

'大于'

In [12]:
import math
a=math.pow(2,math.pi)
b=math.pow(math.pi,2)
a2=compare(a,b)
a2

'小于'

In [13]:
#判断是否为素数
def is_prime(n):
    #判断是否为素数
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

#判断一个数据是否为回文
def is_palindrome(n):
    return str(n)==str(n)[::-1]

#判断是否为回文素数
def is_palindrome_prime(n):
    return is_prime(n) and is_palindrome(n)

a3='Yes' if is_palindrome_prime(171) else 'No'
a4='Yes' if is_palindrome_prime(373) else 'No'

In [15]:
def count_upper_lower(s):
    upper_count=sum(1 for i in s if i.isupper())
    lower_count=sum(1 for i in s if i.islower())
    return upper_count,lower_count

s1='Hello World'
a5,a6=count_upper_lower(s1)

s2='wa#uD!Ah+fHcUSjPls'
a7,a8=count_upper_lower(s2)

s3='qwe@1iwOhdsaQKds2a0ODlasdaASa'
a9,a10=count_upper_lower(s3)

In [28]:
import  os
import  pandas as pd

data=pd.read_excel('pandas120.xlsx')

df1=data[(data['salary']=='25k-35k') & (data['education']=='本科')] 

df2=data[data['salary'].str.endswith('40k')]


#使用正则表达式进行计算
data[['min_salary','max_salary']]=data['salary'].str.extract(r'(\d+)k-(\d+)k').astype(int)
data['average_salary']=(data['min_salary']+data['max_salary'])/2
filter_data=data[data['average_salary']>30]

df3=filter_data[['createTime','education','salary']]


answer_2=pd.concat([df1,df2,df3],axis=0)


data1=pd.concat([answer_2.iloc[:,0],answer_2.iloc[:,1],answer_2.iloc[:,2]])
result=pd.DataFrame(data1,columns=['answer'])
result['id']=range(len(result))
result=result[['id','answer']]
result

     id               answer
14    0  2020-03-15 12:14:45
33    1  2020-03-16 11:04:00
39    2  2020-03-16 11:35:36
83    3  2020-03-16 10:43:49
93    4  2020-03-16 10:44:41
..   ..                  ...
62   85              30k-40k
79   86              25k-40k
92   87              30k-40k
101  88              30k-45k
131  89              25k-50k

[90 rows x 2 columns]

In [26]:
df1

            createTime education   salary
14 2020-03-15 12:14:45        本科  25k-35k
33 2020-03-16 11:04:00        本科  25k-35k
38 2020-03-16 11:01:58        不限  25k-35k
39 2020-03-16 11:35:36        本科  25k-35k
45 2020-03-16 11:01:58        不限  25k-35k
83 2020-03-16 10:43:49        本科  25k-35k
93 2020-03-16 10:44:41        本科  25k-35k