# 第二关

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#读取数据
file_path=r"中国主要城市经济统计数据 2012-2021.csv"
data=pd.read_csv(file_path)
data

,城市,年份,地区生产总值（当年价格）(亿元),第一产业增加值(亿元),第二产业增加值(亿元),第三产业增加值(亿元),地方一般公共预算支出(亿元),地方一般公共预算收入(亿元),年末户籍人口(万人),城镇非私营单位在岗职工平均工资(元),住户存款余额(亿元),房地产开发投资额(亿元),商品房销售面积(万平方米),商品房平均销售价格(元/平方米),住宅商品房销售面积(万平方米),住宅商品房平均销售价格(元/平方米)
0,上海,2012年,21305.60,129.30,8174.10,13002.10,4184.02,3743.71,1426.93,80191.0,19506.70,2381.36,1898.46,14061.37,1592.63,13869.88
1,上海,2013年,23204.10,131.60,8286.50,14786.00,4528.61,4109.51,1432.34,91477.0,20486.25,2819.59,2382.20,16420.00,2015.81,16192.00
2,上海,2014年,25269.80,132.00,8633.30,16504.50,4923.44,4585.55,1438.69,100623.0,21269.30,3206.48,2084.66,16787.00,1780.91,16415.00
3,上海,2015年,26887.00,125.50,8408.70,18352.80,6191.56,5519.50,1442.97,109279.0,23384.73,3468.94,2431.36,20949.00,2009.17,21501.00
4,上海,2016年,29887.00,114.30,8570.20,21202.40,6918.94,6406.13,1450.00,120503.0,23639.80,3709.03,2705.69,24747.00,2019.80,25910.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,青岛,2017年,11037.28,380.97,4546.21,6110.10,1403.03,1157.24,803.28,83539.0,5394.18,1330.54,1900.74,10518.00,1633.84,10052.00
356,青岛,2018年,12001.52,386.91,4850.59,6764.02,1559.78,1231.91,817.79,90840.0,5913.71,1485.21,1808.02,12624.12,1578.31,12373.44
357,青岛,2019年,11741.00,409.98,4182.76,7148.57,1575.97,1241.74,831.07,103125.0,6755.24,1803.81,1651.83,13603.00,1475.58,13674.00
358,青岛,2020年,12401.00,425.00,4362.00,7614.00,1584.65,1253.85,NaN,116115.0,8030.95,2045.12,1653.59,13406.00,1430.37,14058.00
359,青岛,2021年,14136.00,470.00,5070.00,8596.00,1706.76,1368.30,NaN,127228.0,9028.24,1982.34,1644.52,13787.00,1419.63,14365.00

In [6]:
data_beijing=data.loc[data["城市"]=="北京"]
data_shanghai=data.loc[data["城市"]=="上海"]

#求北京上海的GDP增长率
data_beijing["GDP_Growth"]=data_beijing["地区生产总值（当年价格）(亿元)"].pct_change()*100
data_shanghai["GDP_Growth"]=data_shanghai["地区生产总值（当年价格）(亿元)"].pct_change()*100

C:\Users\W10\AppData\Local\Temp\ipykernel_4304\318939056.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_beijing["GDP_Growth"]=data_beijing["地区生产总值（当年价格）(亿元)"].pct_change()*100
C:\Users\W10\AppData\Local\Temp\ipykernel_4304\318939056.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_shanghai["GDP_Growth"]=data_shanghai["地区生产总值（当年价格）(亿元)"].pct_change()*100

In [7]:
data_beijing["GDP_Growth"].dropna().describe()

count     9.000000
mean      8.971067
std       3.524468
min       1.405327
25%       8.082963
50%       9.129064
75%      10.785396
max      14.195656
Name: GDP_Growth, dtype: float64

In [8]:
data_shanghai["GDP_Growth"].dropna().describe()

count     9.000000
mean      8.333610
std       2.997200
min       2.568605
25%       6.399734
50%       8.910803
75%      10.164955
max      12.036634
Name: GDP_Growth, dtype: float64

In [13]:
#对两组数据进行t验证
group1=np.array(data_beijing["GDP_Growth"].dropna())
group1=group1.astype(float)
group2=np.array(data_shanghai["GDP_Growth"].dropna())
group2=group2.astype(float)


t_statistic,p_value=stats.ttest_ind(group1,group2)
print(f"t值为{t_statistic:.2f},p值为{p_value:.2f}")

if p_value<0.05:
    print("拒绝原假设")
else:
    print("无法拒绝原假设")

t值为0.41,p值为0.68
无法拒绝原假设

In [11]:
# Extract GDP data for Beijing and Shanghai
beijing_gdp = data[data['城市'] == '北京'][['年份', '地区生产总值（当年价格）(亿元)']]
shanghai_gdp = data[data['城市'] == '上海'][['年份', '地区生产总值（当年价格）(亿元)']]

# Calculate the GDP growth for each year for Beijing and Shanghai
beijing_gdp['GDP增长'] = beijing_gdp['地区生产总值（当年价格）(亿元)'].pct_change()
shanghai_gdp['GDP增长'] = shanghai_gdp['地区生产总值（当年价格）(亿元)'].pct_change()

# Drop the first year as it will have NaN value for growth
beijing_gdp = beijing_gdp.dropna()
shanghai_gdp = shanghai_gdp.dropna()

# Perform t-test on GDP growth between Beijing and Shanghai
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(beijing_gdp['GDP增长'], shanghai_gdp['GDP增长'])

t_stat, p_value

(0.41334584625242926, 0.6848401213151456)

In [12]:
# Calculate the GDP growth for all cities
data['GDP增长'] = data.groupby('城市')['地区生产总值（当年价格）(亿元)'].pct_change()
gdp_growth = data.dropna(subset=['GDP增长'])

# Perform ANOVA (F-test) on GDP growth for different cities
from scipy.stats import f_oneway

# Group data by city
city_groups = [group['GDP增长'].values for name, group in gdp_growth.groupby('城市')]

f_stat, p_value_f = f_oneway(*city_groups)

f_stat, p_value_f

(2.76458387235629, 1.843996250690125e-06)

In [15]:
beijing_data = data[data['城市'] == '北京']  
shanghai_data = data[data['城市'] == '上海']  

# 提取两城市的GDP数据  
beijing_gdp = beijing_data['地区生产总值（当年价格）(亿元)']  
shanghai_gdp = shanghai_data['地区生产总值（当年价格）(亿元)']  

# 步骤3：进行t检验  
# 我们将比较两城市的GDP均值是否有显著差异  
t_statistic, p_value = ttest_ind(beijing_gdp, shanghai_gdp, equal_var=False)  

# 输出t检验的结果  
print(f"t统计量: {t_statistic}")  
print(f"p值: {p_value}")  

# 假设检验决策  
alpha = 0.05  # 显著性水平  
if p_value < alpha:  
    print("拒绝零假设，认为北京和上海的GDP增长有显著差异。")  
else:  
    print("接受零假设，认为北京和上海的GDP增长没有显著差异。")

t统计量: -0.7825809861579205
p值: 0.4440575456401983
接受零假设，认为北京和上海的GDP增长没有显著差异。

In [16]:
beijing_gdp

30    19024.70
31    21134.60
32    22926.00
33    24779.10
34    27041.20
35    29883.00
36    33106.00
37    35445.13
38    35943.25
39    41045.63
Name: 地区生产总值（当年价格）(亿元), dtype: float64