In [1]:
import pandas as pd

year_range=pd.DataFrame({"index":range(365)})

# Q1:2023å¹´æ˜ŸæœŸäºŒå’Œæ˜ŸæœŸäº”çš„å…³ç³» å¤©æ•°æ˜¯å¦ç›¸ç­‰

In [2]:
# æ£€æŸ¥æ˜ŸæœŸäºŒå’Œæ˜ŸæœŸäº”çš„å…³ç³»
import calendar
year=2023

#ç»Ÿè®¡æ¯ä¸ªæ˜ŸæœŸå‡ºç°çš„æ¬¡æ•°
week_counts=[0]*7

# éå†æ¯ä¸ªæœˆçš„æ¯ä¸€å¤©
for month in range(1,13):
    month_calendar=calendar.monthcalendar(year,month) #è·å–æœˆä»½å‘¨æœŸ
    print(month_calendar)
    for week in month_calendar:
        print("week is ",week)
        for day,weekday in enumerate(week):   #å¯ä»¥ç†è§£ä¸ºåˆ›å»ºäº†ç´¢å¼•å¯¹åº”
            print(day,weekday)
            if weekday !=0:         # ç»“æŸ
                week_counts[day]+=1
                
weekdays=['æ˜ŸæœŸä¸€','æ˜ŸæœŸäºŒ','æ˜ŸæœŸä¸‰','æ˜ŸæœŸå››','æ˜ŸæœŸäº”','æ˜ŸæœŸå…­','æ˜ŸæœŸæ—¥']
for i ,count in enumerate(week_counts):
    print(f"{weekdays[i]}:{count}æ¬¡")
# æ£€æŸ¥æ˜ŸæœŸäºŒå’Œæ˜ŸæœŸäº”çš„å…³ç³»
if week_counts[1]>week_counts[4]:
    print(">")
elif week_counts[1]==week_counts[4]:
    print('=')
else:
    print('<')

[[0, 0, 0, 0, 0, 0, 1], [2, 3, 4, 5, 6, 7, 8], [9, 10, 11, 12, 13, 14, 15], [16, 17, 18, 19, 20, 21, 22], [23, 24, 25, 26, 27, 28, 29], [30, 31, 0, 0, 0, 0, 0]]
week is  [0, 0, 0, 0, 0, 0, 1]
0 0
1 0
2 0
3 0
4 0
5 0
6 1
week is  [2, 3, 4, 5, 6, 7, 8]
0 2
1 3
2 4
3 5
4 6
5 7
6 8
week is  [9, 10, 11, 12, 13, 14, 15]
0 9
1 10
2 11
3 12
4 13
5 14
6 15
week is  [16, 17, 18, 19, 20, 21, 22]
0 16
1 17
2 18
3 19
4 20
5 21
6 22
week is  [23, 24, 25, 26, 27, 28, 29]
0 23
1 24
2 25
3 26
4 27
5 28
6 29
week is  [30, 31, 0, 0, 0, 0, 0]
0 30
1 31
2 0
3 0
4 0
5 0
6 0
[[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 0, 0, 0, 0, 0]]
week is  [0, 0, 1, 2, 3, 4, 5]
0 0
1 0
2 1
3 2
4 3
5 4
6 5
week is  [6, 7, 8, 9, 10, 11, 12]
0 6
1 7
2 8
3 9
4 10
5 11
6 12
week is  [13, 14, 15, 16, 17, 18, 19]
0 13
1 14
2 15
3 16
4 17
5 18
6 19
week is  [20, 21, 22, 23, 24, 25, 26]
0 20
1 21
2 22
3 23
4 24
5 25
6 26
week is  [27, 28, 0, 0, 0, 0, 0]
0 27
1 28
2 0
3 0
4 0
5 0
6 0
[[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 31, 0, 0]]
week is  [0, 0, 1, 2, 3, 4, 5]
0 0
1 0
2 1
3 2
4 3
5 4
6 5
week is  [6, 7, 8, 9, 10, 11, 12]
0 6
1 7
2 8
3 9
4 10
5 11
6 12
week is  [13, 14, 15, 16, 17, 18, 19]
0 13
1 14
2 15
3 16
4 17
5 18
6 19
week is  [20, 21, 22, 23, 24, 25, 26]
0 20
1 21
2 22
3 23
4 24
5 25
6 26
week is  [27, 28, 29, 30, 31, 0, 0]
0 27
1 28
2 29
3 30
4 31
5 0
6 0
[[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 30]]
week is  [0, 0, 0, 0, 0, 1, 2]
0 0
1 0
2 0
3 0
4 0
5 1
6 2
week is  [3, 4, 5, 6, 7, 8, 9]
0 3
1 4
2 5
3 6
4 7
5 8
6 9
week is  [10, 11, 12, 13, 14, 15, 16]
0 10
1 11
2 12
3 13
4 14
5 15
6 16
week is  [17, 18, 19, 20, 21, 22, 23]
0 17
1 18
2 19
3 20
4 21
5 22
6 23
week is  [24, 25, 26, 27, 28, 29, 30]
0 24
1 25
2 26
3 27
4 28
5 29
6 30
[[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12, 13, 14], [15, 16, 17, 18, 19, 20, 21], [22, 23, 24, 25, 26, 27, 28], [29, 30, 31, 0, 0, 0, 0]]
week is  [1, 2, 3, 4, 5, 6, 7]
0 1
1 2
2 3
3 4
4 5
5 6
6 7
week is  [8, 9, 10, 11, 12, 13, 14]
0 8
1 9
2 10
3 11
4 12
5 13
6 14
week is  [15, 16, 17, 18, 19, 20, 21]
0 15
1 16
2 17
3 18
4 19
5 20
6 21
week is  [22, 23, 24, 25, 26, 27, 28]
0 22
1 23
2 24
3 25
4 26
5 27
6 28
week is  [29, 30, 31, 0, 0, 0, 0]
0 29
1 30
2 31
3 0
4 0
5 0
6 0
[[0, 0, 0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 0, 0]]
week is  [0, 0, 0, 1, 2, 3, 4]
0 0
1 0
2 0
3 1
4 2
5 3
6 4
week is  [5, 6, 7, 8, 9, 10, 11]
0 5
1 6
2 7
3 8
4 9
5 10
6 11
week is  [12, 13, 14, 15, 16, 17, 18]
0 12
1 13
2 14
3 15
4 16
5 17
6 18
week is  [19, 20, 21, 22, 23, 24, 25]
0 19
1 20
2 21
3 22
4 23
5 24
6 25
week is  [26, 27, 28, 29, 30, 0, 0]
0 26
1 27
2 28
3 29
4 30
5 0
6 0
[[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 30], [31, 0, 0, 0, 0, 0, 0]]
week is  [0, 0, 0, 0, 0, 1, 2]
0 0
1 0
2 0
3 0
4 0
5 1
6 2
week is  [3, 4, 5, 6, 7, 8, 9]
0 3
1 4
2 5
3 6
4 7
5 8
6 9
week is  [10, 11, 12, 13, 14, 15, 16]
0 10
1 11
2 12
3 13
4 14
5 15
6 16
week is  [17, 18, 19, 20, 21, 22, 23]
0 17
1 18
2 19
3 20
4 21
5 22
6 23
week is  [24, 25, 26, 27, 28, 29, 30]
0 24
1 25
2 26
3 27
4 28
5 29
6 30
week is  [31, 0, 0, 0, 0, 0, 0]
0 31
1 0
2 0
3 0
4 0
5 0
6 0
[[0, 1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12, 13], [14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27], [28, 29, 30, 31, 0, 0, 0]]
week is  [0, 1, 2, 3, 4, 5, 6]
0 0
1 1
2 2
3 3
4 4
5 5
6 6
week is  [7, 8, 9, 10, 11, 12, 13]
0 7
1 8
2 9
3 10
4 11
5 12
6 13
week is  [14, 15, 16, 17, 18, 19, 20]
0 14
1 15
2 16
3 17
4 18
5 19
6 20
week is  [21, 22, 23, 24, 25, 26, 27]
0 21
1 22
2 23
3 24
4 25
5 26
6 27
week is  [28, 29, 30, 31, 0, 0, 0]
0 28
1 29
2 30
3 31
4 0
5 0
6 0
[[0, 0, 0, 0, 1, 2, 3], [4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 0]]
week is  [0, 0, 0, 0, 1, 2, 3]
0 0
1 0
2 0
3 0
4 1
5 2
6 3
week is  [4, 5, 6, 7, 8, 9, 10]
0 4
1 5
2 6
3 7
4 8
5 9
6 10
week is  [11, 12, 13, 14, 15, 16, 17]
0 11
1 12
2 13
3 14
4 15
5 16
6 17
week is  [18, 19, 20, 21, 22, 23, 24]
0 18
1 19
2 20
3 21
4 22
5 23
6 24
week is  [25, 26, 27, 28, 29, 30, 0]
0 25
1 26
2 27
3 28
4 29
5 30
6 0
[[0, 0, 0, 0, 0, 0, 1], [2, 3, 4, 5, 6, 7, 8], [9, 10, 11, 12, 13, 14, 15], [16, 17, 18, 19, 20, 21, 22], [23, 24, 25, 26, 27, 28, 29], [30, 31, 0, 0, 0, 0, 0]]
week is  [0, 0, 0, 0, 0, 0, 1]
0 0
1 0
2 0
3 0
4 0
5 0
6 1
week is  [2, 3, 4, 5, 6, 7, 8]
0 2
1 3
2 4
3 5
4 6
5 7
6 8
week is  [9, 10, 11, 12, 13, 14, 15]
0 9
1 10
2 11
3 12
4 13
5 14
6 15
week is  [16, 17, 18, 19, 20, 21, 22]
0 16
1 17
2 18
3 19
4 20
5 21
6 22
week is  [23, 24, 25, 26, 27, 28, 29]
0 23
1 24
2 25
3 26
4 27
5 28
6 29
week is  [30, 31, 0, 0, 0, 0, 0]
0 30
1 31
2 0
3 0
4 0
5 0
6 0
[[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 0, 0, 0]]
week is  [0, 0, 1, 2, 3, 4, 5]
0 0
1 0
2 1
3 2
4 3
5 4
6 5
week is  [6, 7, 8, 9, 10, 11, 12]
0 6
1 7
2 8
3 9
4 10
5 11
6 12
week is  [13, 14, 15, 16, 17, 18, 19]
0 13
1 14
2 15
3 16
4 17
5 18
6 19
week is  [20, 21, 22, 23, 24, 25, 26]
0 20
1 21
2 22
3 23
4 24
5 25
6 26
week is  [27, 28, 29, 30, 0, 0, 0]
0 27
1 28
2 29
3 30
4 0
5 0
6 0
[[0, 0, 0, 0, 1, 2, 3], [4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 31]]
week is  [0, 0, 0, 0, 1, 2, 3]
0 0
1 0
2 0
3 0
4 1
5 2
6 3
week is  [4, 5, 6, 7, 8, 9, 10]
0 4
1 5
2 6
3 7
4 8
5 9
6 10
week is  [11, 12, 13, 14, 15, 16, 17]
0 11
1 12
2 13
3 14
4 15
5 16
6 17
week is  [18, 19, 20, 21, 22, 23, 24]
0 18
1 19
2 20
3 21
4 22
5 23
6 24
week is  [25, 26, 27, 28, 29, 30, 31]
0 25
1 26
2 27
3 28
4 29
5 30
6 31
æ˜ŸæœŸä¸€:52æ¬¡
æ˜ŸæœŸäºŒ:52æ¬¡
æ˜ŸæœŸä¸‰:52æ¬¡
æ˜ŸæœŸå››:52æ¬¡
æ˜ŸæœŸäº”:52æ¬¡
æ˜ŸæœŸå…­:52æ¬¡
æ˜ŸæœŸæ—¥:53æ¬¡
=

In [3]:
# ä½¿ç”¨sqlè¿›è¡ŒæŸ¥è¯¢

query=""" 
WITH calendar_table as (
    SELECT 
        DATE '2023-01-01' +(n-1) as date,
        extract(dow from DATE '2023-01-01'+(n-1))+ 1 as weekday
    from generate_series(1,365)
)
-- æŒ‰ç…§æ˜ŸæœŸå‡ ç»Ÿè®¡å‡ºç°æ¬¡æ•°
select 
    weekday,
    count(*) as occurrence
from 
    calendar_table
group by 
    weekday
order by 
    weekday;
    
with week_counts as (
    select 
        weekday,
        count(*) as occurrence
    from 
        calendar_table
    group by 
        weekday
)
select
    case 
        when max(case when weekday=2 then occurrence end)>max(case when weekday=5 then occurrence end) then 'æ˜ŸæœŸäºŒ'>'æ˜ŸæœŸäº”'
        when max(case when weekday=2 then occurence end)<max(case when weekday=5 then occurence end) then 'æ˜ŸæœŸäºŒ'<'æ˜ŸæœŸäº”'
        else 'æ˜ŸæœŸäºŒ'='æ˜ŸæœŸäº”'
    end as result
from
    week_counts
"""

# Q2: åœ¨ 2023 å¹´æ¯ä¸ªæœˆçš„5å·ï¼Œ10å·ï¼Œ15å·ï¼Œ20å·å’Œ 25å· ä¸­ï¼Œæ˜ŸæœŸå‡ çš„å æ¯”æœ€é«˜Â¶

In [4]:
import calendar
from collections import Counter
year=2023
#ç›®æ ‡æ—¥æœŸ
target_days=[5,10,15,20,25]
#å­˜å‚¨æ¯ä¸ªç›®æ ‡æ—¥æœŸå¯¹åº”çš„æ˜ŸæœŸ
weekday_counts=[]
#éå†æ¯ä¸ªæœˆ
for month in range(1,13):
    for day in target_days:
        try:
            # è·å–æŸä¸€å¤©çš„æ˜ŸæœŸå‡ 
            weekday=calendar.weekday(year,month,day)
            weekday_counts.append(weekday)
        except ValueError:
            continue

#ç»Ÿè®¡æ˜ŸæœŸå‡ å‡ºç°çš„æ¬¡æ•°
weekday_counter=Counter(weekday_counts)
print(weekday_counter)
weekdays=['æ˜ŸæœŸä¸€', 'æ˜ŸæœŸäºŒ', 'æ˜ŸæœŸä¸‰', 'æ˜ŸæœŸå››', 'æ˜ŸæœŸäº”', 'æ˜ŸæœŸå…­', 'æ˜ŸæœŸæ—¥']       
result={weekdays[day]:count for day ,count in weekday_counter.items()}
max_day=max(result,key=result.get)
print('2023å¹´ç›®æ ‡æ—¥æœŸä¸­å„æ˜ŸæœŸçš„ç»Ÿè®¡ï¼š',result)
print(f"å æ¯”æœ€é«˜çš„æ˜ŸæœŸæ˜¯{max_day},å‡ºç°æ¬¡æ•°æ˜¯{result[max_day]}")

Counter({calendar.WEDNESDAY: 10, calendar.SUNDAY: 9, calendar.FRIDAY: 9, calendar.MONDAY: 9, calendar.TUESDAY: 8, calendar.SATURDAY: 8, calendar.THURSDAY: 7})
2023å¹´ç›®æ ‡æ—¥æœŸä¸­å„æ˜ŸæœŸçš„ç»Ÿè®¡ï¼š {'æ˜ŸæœŸå››': 7, 'æ˜ŸæœŸäºŒ': 8, 'æ˜ŸæœŸæ—¥': 9, 'æ˜ŸæœŸäº”': 9, 'æ˜ŸæœŸä¸‰': 10, 'æ˜ŸæœŸä¸€': 9, 'æ˜ŸæœŸå…­': 8}
å æ¯”æœ€é«˜çš„æ˜ŸæœŸæ˜¯æ˜ŸæœŸä¸‰,å‡ºç°æ¬¡æ•°æ˜¯10

In [5]:
query="""  
-- åˆ›å»ºæ—¥å†è¡¨å¹¶è¿‡æ»¤ç›®æ ‡æ—¥æœŸ
WITH calendar_table AS (
    SELECT 
        DATE '2023-01-01' + (n - 1) AS date,
        EXTRACT(DOW FROM DATE '2023-01-01' + (n - 1)) + 1 AS weekday  -- 1=æ˜ŸæœŸä¸€, ..., 7=æ˜ŸæœŸæ—¥
    FROM generate_series(1, 365) n
),
target_days AS (
    SELECT 
        DATE(date) AS date,
        weekday
    FROM 
        calendar_table
    WHERE 
        EXTRACT(DAY FROM date) IN (5, 10, 15, 20, 25)  -- ç­›é€‰ç›®æ ‡æ—¥æœŸ
)

-- ç»Ÿè®¡ç›®æ ‡æ—¥æœŸä¸­æ¯ä¸ªæ˜ŸæœŸå‡ çš„å‡ºç°æ¬¡æ•°
SELECT 
    weekday,
    COUNT(*) AS occurrence
FROM 
    target_days
GROUP BY 
    weekday
ORDER BY 
    occurrence DESC;

-- æ‰¾å‡ºå æ¯”æœ€é«˜çš„æ˜ŸæœŸå‡ 
WITH day_count AS (
    SELECT 
        weekday,
        COUNT(*) AS occurrence
    FROM 
        target_days
    GROUP BY 
        weekday
)
SELECT 
    CASE 
        WHEN weekday = 1 THEN 'æ˜ŸæœŸä¸€'
        WHEN weekday = 2 THEN 'æ˜ŸæœŸäºŒ'
        WHEN weekday = 3 THEN 'æ˜ŸæœŸä¸‰'
        WHEN weekday = 4 THEN 'æ˜ŸæœŸå››'
        WHEN weekday = 5 THEN 'æ˜ŸæœŸäº”'
        WHEN weekday = 6 THEN 'æ˜ŸæœŸå…­'
        WHEN weekday = 7 THEN 'æ˜ŸæœŸæ—¥'
    END AS weekday_name,
    occurrence
FROM 
    day_count
ORDER BY 
    occurrence DESC
LIMIT 1;



"""

In [6]:
# Q3: åœ¨ 2023 å¹´ç¬¬34å‘¨å½“ä¸­ï¼Œæœ€å¤§çš„æ—¥æœŸæ˜¯å‡ å·ï¼ŸÂ¶
from datetime import datetime,timedelta

year=2023
target_week=34

# æ‰¾åˆ°ç¬¬ä¸€å‘¨çš„ç¬¬ä¸€å¤©
jan_1=datetime(year,1,1)

jan_1_weekday=jan_1.isoweekday()

days_to_first_week=7-jan_1_weekday+1 if jan_1_weekday !=1 else 0
first_week_start=jan_1+timedelta(days=days_to_first_week)
week_34_start = first_week_start + timedelta(weeks=target_week - 1)
week_34_end = week_34_start + timedelta(days=6)
# è¾“å‡ºç»“æœ
print(f"2023å¹´ç¬¬34å‘¨çš„ç¬¬ä¸€å¤©æ˜¯ï¼š{week_34_start.date()}")
print(f"2023å¹´ç¬¬34å‘¨çš„æœ€åä¸€å¤©æ˜¯ï¼š{week_34_end.date()}")
print(f"æœ€å¤§çš„æ—¥æœŸæ˜¯ï¼š{week_34_end.day}å·")

2023å¹´ç¬¬34å‘¨çš„ç¬¬ä¸€å¤©æ˜¯ï¼š2023-08-21
2023å¹´ç¬¬34å‘¨çš„æœ€åä¸€å¤©æ˜¯ï¼š2023-08-27
æœ€å¤§çš„æ—¥æœŸæ˜¯ï¼š27å·

In [7]:
query="""-- åˆ›å»ºæ—¥å†è¡¨
WITH calendar_table AS (
    SELECT 
        DATE '2023-01-01' + (n - 1) AS date,
        EXTRACT(YEAR FROM DATE '2023-01-01' + (n - 1)) AS year,
        EXTRACT(WEEK FROM DATE '2023-01-01' + (n - 1)) AS week,
        EXTRACT(DOW FROM DATE '2023-01-01' + (n - 1)) AS weekday
    FROM 
        generate_series(1, 365) n
)

-- æŸ¥è¯¢ç¬¬34å‘¨çš„æœ€åä¸€å¤©
SELECT 
    MAX(DATE(date)) AS last_date,
    EXTRACT(DAY FROM MAX(DATE(date))) AS max_day
FROM 
    calendar_table
WHERE 
    year = 2023 AND week = 34;
"""

# Q4: åœ¨ 2023 å¹´æ‰€æœ‰æœˆä»½çš„æœ€å 1 å‘¨ï¼Œä¸€å…±æœ‰å¤šå°‘ä¸ªå‘¨æœ«

In [8]:
import  calendar
year=2023
#å‘¨æœ«ç»Ÿè®¡
total_weekends=0
#éå†æ¯ä¸ªæœˆ
for month in range(1,13):
    #è·å–è¯¥æœˆæœ€åä¸€å¤©
    _,last_day=calendar.monthrange(year,month)
    #è·å–æœ€åä¸€å‘¨çš„èµ·å§‹æ—¥æœŸ
    last_week_start=last_day-6
    
    for day in range(last_week_start,last_day+1):
        weekday=calendar.weekday(year,month,day)
        if weekday in [5,6]:
            total_weekends+=1
        
print(f"2023å¹´æ‰€æœ‰æœˆä»½çš„æœ€åä¸€å‘¨å…±æœ‰{total_weekends}ä¸ªå‘¨æœ«")

2023å¹´æ‰€æœ‰æœˆä»½çš„æœ€åä¸€å‘¨å…±æœ‰24ä¸ªå‘¨æœ«

In [9]:
query=""" 
-- åˆ›å»ºæ—¥å†è¡¨
WITH calendar_table AS (
    SELECT 
        DATE '2023-01-01' + (n - 1) AS date,
        EXTRACT(YEAR FROM DATE '2023-01-01' + (n - 1)) AS year,
        EXTRACT(MONTH FROM DATE '2023-01-01' + (n - 1)) AS month,
        EXTRACT(DAY FROM DATE '2023-01-01' + (n - 1)) AS day,
        EXTRACT(DOW FROM DATE '2023-01-01' + (n - 1)) + 1 AS weekday  -- +1 è½¬ä¸º 1=æ˜ŸæœŸä¸€, ..., 7=æ˜ŸæœŸæ—¥
    FROM generate_series(1, 365) n
),

-- æ‰¾åˆ°æ¯ä¸ªæœˆçš„æœ€å 1 å‘¨
last_week_table AS (
    SELECT 
        *,
        MAX(day) OVER (PARTITION BY month) AS last_day
    FROM 
        calendar_table
    WHERE 
        year = 2023 AND day >= MAX(day) OVER (PARTITION BY month) - 6
)

-- ç»Ÿè®¡å‘¨æœ«çš„æ•°é‡
SELECT 
    COUNT(*) AS total_weekends
FROM 
    last_week_table
WHERE 
    weekday IN (6, 7);  -- 6=æ˜ŸæœŸå…­, 7=æ˜ŸæœŸæ—¥

"""

# Q5: åœ¨ 2023 å¹´æ‰€æœ‰æœˆä»½çš„ 5 å·ï¼Œæœ€é•¿ä¸€æ¬¡è¿ç»­å¤„åœ¨å½“æœˆåŒä¸€å‘¨æ˜¯è¿ç»­å‡ ä¸ªæœˆï¼Ÿ
ä¾‹å¦‚ï¼š2,3,4,5æœˆä»½çš„ 5 å·éƒ½å¤„äºå½“æœˆçš„ç¬¬ 2 å‘¨ï¼Œ åˆ™æœ€é•¿ä¸€æ¬¡ä¸º 4

In [10]:
import calendar

year=2023
# å­˜å‚¨æ¯ä¸ªæœˆçš„5å·æ‰€åœ¨å‘¨æœŸ
weeks=[]
for month  in range(1,13):
    week_num=(5+calendar.monthrange(year,month)[0]-1)//7+1
    weeks.append(week_num)

#æ‰¾æœ€é•¿è¿ç»­ç›¸åŒå‘¨æ•°çš„æœˆä»½
max_streak=1
current_streak=1

for i in range(1,len(weeks)):
    if weeks[i]==weeks[i-1]:
        current_streak+=1
        max_streak=max(max_streak,current_streak)
    else:
        current_streak=1
        
print(f"2023å¹´æœ€é•¿ä¸€æ¬¡è¿ç»­çš„5å·å¤„äºåŒä¸€å‘¨çš„æœˆä»½æ•°ä¸º:{max_streak}")

2023å¹´æœ€é•¿ä¸€æ¬¡è¿ç»­çš„5å·å¤„äºåŒä¸€å‘¨çš„æœˆä»½æ•°ä¸º:2

In [11]:
query=""" 
WITH calendar_table as 
(
    select
        DATE'2023-01-01'+(n-1) as date,
        extract(YEAR FROM DATE '2023-01-01')
)

"""

In [12]:
import sqlite3
from datetime import datetime, timedelta

# åˆ›å»º SQLite æ•°æ®åº“è¿æ¥
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# åˆ›å»ºæ—¥å†è¡¨
cursor.execute("""
CREATE TABLE calendar_table (
    date TEXT,
    year INTEGER,
    month INTEGER,
    day INTEGER,
    week INTEGER
)
""")

# å¡«å……æ•°æ®ï¼ˆ2023å¹´ï¼‰
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
current_date = start_date

while current_date <= end_date:
    year = current_date.year
    month = current_date.month
    day = current_date.day
    
    # ISO å‘¨è®¡ç®—ï¼Œæ¯å‘¨ä»å‘¨ä¸€å¼€å§‹
    week = (day + (current_date.weekday() - 1) // 7) if day else 1
    cursor.execute("""
    INSERT INTO calendar_table (date, year, month, day, week)
    VALUES (?, ?, ?, ?, ?)
    """, (current_date.strftime("%Y-%m-%d"), year, month, day, week))
    current_date += timedelta(days=1)

conn.commit()

# æŸ¥è¯¢ç›®æ ‡æ•°æ®
query = """
WITH fifth_day_weeks AS (
    SELECT 
        month,
        week
    FROM 
        calendar_table
    WHERE 
        day = 5
),
longest_streak AS (
    SELECT 
        week,
        COUNT(*) AS consecutive_count
    FROM (
        SELECT 
            month,
            week,
            week = LAG(week) OVER (ORDER BY month) AS is_consecutive
        FROM 
            fifth_day_weeks
    ) consecutive_weeks
    WHERE is_consecutive = true
    GROUP BY week
)
SELECT 
    MAX(consecutive_count) AS max_streak
FROM 
    longest_streak;
"""

# æ‰§è¡ŒæŸ¥è¯¢
cursor.execute(query)
result = cursor.fetchone()

# è¾“å‡ºç»“æœ
print(f"2023 å¹´æœ€é•¿ä¸€æ¬¡è¿ç»­çš„ 5 å·å¤„äºåŒä¸€å‘¨çš„æœˆä»½æ•°ä¸ºï¼š{result[0]}")

# å…³é—­æ•°æ®åº“è¿æ¥
conn.close()

2023 å¹´æœ€é•¿ä¸€æ¬¡è¿ç»­çš„ 5 å·å¤„äºåŒä¸€å‘¨çš„æœˆä»½æ•°ä¸ºï¼š9

# åˆ¶ä½œæ´»åŠ¨æ—¥å†

In [13]:
# ğŸ˜ˆ: æˆ‘çš„é‚ªæ¶ TO-DO æ¸…å•
events = [
    'æ‰“ç£¨æ–°çš„å…µå™¨',
     'çœ‹1æœˆæ–°ç•ª',
    'ä¿®è¡¥è¢«ç ´åçš„åŸå ¡',
    'å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹',
    'å†¶ç‚¼æœ€å¼ºçš„é‡‘å±',
    'å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š',
    'æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥',
    'è®¾è®¡æ¶é­”æ ‡å¿—',
    'çœ‹4æœˆæ–°ç•ª',
    'å¬å”¤æ¶é­”ä»ªå¼',
    'ç­–åˆ’ä¸€åœºæ¶ä½œå‰§',
    'çœ‹7æœˆæ–°ç•ª',
    'ç¼–å†™é‚ªæ¶æ‰‹å†Œ',
    'ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’',
    'æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜',
    'å¼€å±•é»‘æš—ä»ªå¼',
    'å¤ºå–å®è—',
    'æ”¶é›†é­”æ³•ç‰©å“',
    'å¼•å‘ææ…Œå’Œæ··ä¹±',
    'å‘å±•é‚ªæ¶ç§‘æŠ€',
    'çœ‹10æœˆæ–°ç•ª',
    'åˆ¶é€ æ¯’è¯å’Œè¯…å’’',
    'å»ºç«‹é‚ªæ¶ç‹å›½',
    'å¾æœä¸–ç•Œï¼',
    'ç ´åè‹±é›„çš„å£°èª‰',
    'å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢',
    'è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®',
    'å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ',
    'åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«',
    'å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°',
    'å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼',
    'ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ',
    'ç…½åŠ¨åæŠ—å†›',
    'å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´',
    'é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬',
    'å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“',
    'å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…',
    'å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨',
    'å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€',
    'æ´—è„‘åŸå¸‚å±…æ°‘',
    'é‡Šæ”¾é»‘æš—ä¹‹é­‚',
    'æ‘§æ¯åœ£åœ°å’Œç¥æ®¿',
    'è¿½æ•å¹¶æŠ¹æ€è‹±é›„',
]
start_date = [
    '2023-02-10',
    '2023-05-02',
    '2023-02-23',
    '2023-03-17',
    '2023-04-29',
    '2023-09-05',
    '2023-05-12',
    '2023-03-22',
    '2023-04-09',
    '2023-07-13',
    '2023-09-10',
    '2023-07-05',
    '2023-08-31',
    '2023-10-08',
    '2023-08-28',
    '2023-09-01',
    '2023-09-07',
    '2023-08-22',
    '2023-11-18',
    '2023-12-11',
    '2023-10-12',
    '2023-01-03',
    '2023-06-21',
    '2023-12-28',    
    '2023-08-18',
    '2023-06-11',
    '2023-12-04',
    '2023-04-16',
    '2023-11-09',
    '2023-07-26',
    '2023-05-21',
    '2023-12-31',
    '2023-01-09',
    '2023-03-29',
    '2023-07-19',
    '2023-03-22',
    '2023-10-04',
    '2023-08-14',
    '2023-11-30',
    '2023-04-19',
    '2023-02-11',
    '2023-01-02',
    '2023-09-06',

]
duration = [
    17, 8, 31, 14, 28, 20, 24, 5, 9, 26
    , 12, 21, 15, 30, 11, 4, 25, 5,
    18, 16, 10, 23, 29, 6, 27, 13, 22, 6,
    32, 7, 25, 6, 12, 29, 13, 22, 9, 14,
    21, 8, 30, 4, 19
]
importance = [
    2, 3, 1, 0, 1, 0, 1, 2, 3, 2,
    2, 3, 0, 0, 3, 1, 3, 1, 3, 2,
    3, 0, 1, 2, 1, 3, 2, 1, 0, 0,
    1, 1, 3, 0, 2, 2, 0, 3, 2, 3,
    3, 2, 0
]
evil = pd.DataFrame({'event':events,'start_date':start_date,'duration':duration,'importance':importance})
evil

          event  start_date  duration  importance
0        æ‰“ç£¨æ–°çš„å…µå™¨  2023-02-10        17           2
1         çœ‹1æœˆæ–°ç•ª  2023-05-02         8           3
2      ä¿®è¡¥è¢«ç ´åçš„åŸå ¡  2023-02-23        31           1
3    å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹  2023-03-17        14           0
4       å†¶ç‚¼æœ€å¼ºçš„é‡‘å±  2023-04-29        28           1
5      å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š  2023-09-05        20           0
6     æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥  2023-05-12        24           1
7        è®¾è®¡æ¶é­”æ ‡å¿—  2023-03-22         5           2
8         çœ‹4æœˆæ–°ç•ª  2023-04-09         9           3
9        å¬å”¤æ¶é­”ä»ªå¼  2023-07-13        26           2
10      ç­–åˆ’ä¸€åœºæ¶ä½œå‰§  2023-09-10        12           2
11        çœ‹7æœˆæ–°ç•ª  2023-07-05        21           3
12       ç¼–å†™é‚ªæ¶æ‰‹å†Œ  2023-08-31        15           0
13  ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’  2023-10-08        30           0
14     æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜  2023-08-28        11           3
15       å¼€å±•é»‘æš—ä»ªå¼  2023-09-01         4           1
16         å¤ºå–å®è—  2023-09-07        25           3
17       æ”¶é›†é­”æ³•ç‰©å“  2023-08-22         5           1
18      å¼•å‘ææ…Œå’Œæ··ä¹±  2023-11-18        18           3
19       å‘å±•é‚ªæ¶ç§‘æŠ€  2023-12-11        16           2
20       çœ‹10æœˆæ–°ç•ª  2023-10-12        10           3
21      åˆ¶é€ æ¯’è¯å’Œè¯…å’’  2023-01-03        23           0
22       å»ºç«‹é‚ªæ¶ç‹å›½  2023-06-21        29           1
23        å¾æœä¸–ç•Œï¼  2023-12-28         6           2
24      ç ´åè‹±é›„çš„å£°èª‰  2023-08-18        27           1
25     å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢  2023-06-11        13           3
26   è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®  2023-12-04        22           2
27    å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ  2023-04-16         6           1
28    åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«  2023-11-09        32           0
29    å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°  2023-07-26         7           0
30    å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼  2023-05-21        25           1
31      ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ  2023-12-31         6           1
32        ç…½åŠ¨åæŠ—å†›  2023-01-09        12           3
33     å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´  2023-03-29        29           0
34  é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬  2023-07-19        13           2
35    å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“  2023-03-22        22           2
36     å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…  2023-10-04         9           0
37    å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨  2023-08-14        14           3
38    å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€  2023-11-30        21           2
39       æ´—è„‘åŸå¸‚å±…æ°‘  2023-04-19         8           3
40       é‡Šæ”¾é»‘æš—ä¹‹é­‚  2023-02-11        30           3
41      æ‘§æ¯åœ£åœ°å’Œç¥æ®¿  2023-01-02         4           2
42      è¿½æ•å¹¶æŠ¹æ€è‹±é›„  2023-09-06        19           0

In [14]:
# å°è¯•æŸ¥çœ‹æŒ‰ç…§è®¡åˆ’æ—¥æœŸè¿›è¡Œæ’åº
evil.sort_values(by=['start_date'])

          event  start_date  duration  importance
41      æ‘§æ¯åœ£åœ°å’Œç¥æ®¿  2023-01-02         4           2
21      åˆ¶é€ æ¯’è¯å’Œè¯…å’’  2023-01-03        23           0
32        ç…½åŠ¨åæŠ—å†›  2023-01-09        12           3
0        æ‰“ç£¨æ–°çš„å…µå™¨  2023-02-10        17           2
40       é‡Šæ”¾é»‘æš—ä¹‹é­‚  2023-02-11        30           3
2      ä¿®è¡¥è¢«ç ´åçš„åŸå ¡  2023-02-23        31           1
3    å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹  2023-03-17        14           0
35    å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“  2023-03-22        22           2
7        è®¾è®¡æ¶é­”æ ‡å¿—  2023-03-22         5           2
33     å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´  2023-03-29        29           0
8         çœ‹4æœˆæ–°ç•ª  2023-04-09         9           3
27    å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ  2023-04-16         6           1
39       æ´—è„‘åŸå¸‚å±…æ°‘  2023-04-19         8           3
4       å†¶ç‚¼æœ€å¼ºçš„é‡‘å±  2023-04-29        28           1
1         çœ‹1æœˆæ–°ç•ª  2023-05-02         8           3
6     æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥  2023-05-12        24           1
30    å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼  2023-05-21        25           1
25     å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢  2023-06-11        13           3
22       å»ºç«‹é‚ªæ¶ç‹å›½  2023-06-21        29           1
11        çœ‹7æœˆæ–°ç•ª  2023-07-05        21           3
9        å¬å”¤æ¶é­”ä»ªå¼  2023-07-13        26           2
34  é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬  2023-07-19        13           2
29    å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°  2023-07-26         7           0
37    å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨  2023-08-14        14           3
24      ç ´åè‹±é›„çš„å£°èª‰  2023-08-18        27           1
17       æ”¶é›†é­”æ³•ç‰©å“  2023-08-22         5           1
14     æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜  2023-08-28        11           3
12       ç¼–å†™é‚ªæ¶æ‰‹å†Œ  2023-08-31        15           0
15       å¼€å±•é»‘æš—ä»ªå¼  2023-09-01         4           1
5      å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š  2023-09-05        20           0
42      è¿½æ•å¹¶æŠ¹æ€è‹±é›„  2023-09-06        19           0
16         å¤ºå–å®è—  2023-09-07        25           3
10      ç­–åˆ’ä¸€åœºæ¶ä½œå‰§  2023-09-10        12           2
36     å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…  2023-10-04         9           0
13  ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’  2023-10-08        30           0
20       çœ‹10æœˆæ–°ç•ª  2023-10-12        10           3
28    åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«  2023-11-09        32           0
18      å¼•å‘ææ…Œå’Œæ··ä¹±  2023-11-18        18           3
38    å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€  2023-11-30        21           2
26   è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®  2023-12-04        22           2
19       å‘å±•é‚ªæ¶ç§‘æŠ€  2023-12-11        16           2
23        å¾æœä¸–ç•Œï¼  2023-12-28         6           2
31      ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ  2023-12-31         6           1

# Q6: åœ¨ 2023 å¹´å½“ä¸­ï¼Œæˆ‘æœ‰å‡ å¤©æ˜¯å¯ä»¥ä¼‘å‡çš„ï¼ˆæ²¡æœ‰ä»»ä½•ä¸€ä¸ªé‚ªæ¶äº‹é¡¹æ­£åœ¨è¿›è¡Œï¼‰?Â¶

In [15]:
import pandas  as pd
from datetime import datetime ,timedelta

evil['start_date']=pd.to_datetime(evil['start_date'])
evil['end_date']=evil['start_date']+pd.to_timedelta(evil['duration']-1,unit='D')

#ç”Ÿæˆæ‰€æœ‰äº‹é¡¹çš„æ—¥æœŸèŒƒå›´
all_dates=set()
for _,row in evil.iterrows():
    date_range=pd.date_range(row['start_date'],row['end_date'])
    all_dates.update(date_range)

print(all_dates)
# è®¡ç®—2023å¹´å…¨å¹´æ—¥æœŸ
all_2023_dates=set(pd.date_range('2023-01-01','2023-12-31'))

#æ‰¾å‡ºæ²¡æœ‰äº‹é¡¹çš„æ—¥æœŸ
free_dates=all_2023_dates-all_dates
print(free_dates)
print(f"2023å¹´ä½ å¯ä»¥ä¼‘å‡çš„å¤©æ•°ä¸º:{len(free_dates)}")

{Timestamp('2023-09-24 00:00:00'), Timestamp('2023-11-30 00:00:00'), Timestamp('2023-03-01 00:00:00'), Timestamp('2023-04-24 00:00:00'), Timestamp('2023-12-25 00:00:00'), Timestamp('2023-11-25 00:00:00'), Timestamp('2023-10-09 00:00:00'), Timestamp('2023-10-01 00:00:00'), Timestamp('2023-01-24 00:00:00'), Timestamp('2023-09-16 00:00:00'), Timestamp('2023-08-14 00:00:00'), Timestamp('2023-02-23 00:00:00'), Timestamp('2023-01-15 00:00:00'), Timestamp('2023-05-16 00:00:00'), Timestamp('2023-02-28 00:00:00'), Timestamp('2023-04-11 00:00:00'), Timestamp('2023-09-10 00:00:00'), Timestamp('2023-05-22 00:00:00'), Timestamp('2023-03-13 00:00:00'), Timestamp('2023-08-02 00:00:00'), Timestamp('2023-01-13 00:00:00'), Timestamp('2023-07-03 00:00:00'), Timestamp('2023-12-23 00:00:00'), Timestamp('2023-08-21 00:00:00'), Timestamp('2023-07-07 00:00:00'), Timestamp('2023-02-19 00:00:00'), Timestamp('2023-04-10 00:00:00'), Timestamp('2023-10-12 00:00:00'), Timestamp('2023-07-28 00:00:00'), Timestamp('2023-12-21 00:00:00'), Timestamp('2023-06-04 00:00:00'), Timestamp('2023-09-30 00:00:00'), Timestamp('2023-04-22 00:00:00'), Timestamp('2023-03-02 00:00:00'), Timestamp('2023-08-23 00:00:00'), Timestamp('2023-05-28 00:00:00'), Timestamp('2023-09-13 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-11-17 00:00:00'), Timestamp('2023-01-19 00:00:00'), Timestamp('2023-08-04 00:00:00'), Timestamp('2023-06-08 00:00:00'), Timestamp('2023-08-17 00:00:00'), Timestamp('2023-08-19 00:00:00'), Timestamp('2023-07-01 00:00:00'), Timestamp('2023-11-18 00:00:00'), Timestamp('2023-01-10 00:00:00'), Timestamp('2023-12-30 00:00:00'), Timestamp('2023-12-28 00:00:00'), Timestamp('2023-06-10 00:00:00'), Timestamp('2023-06-01 00:00:00'), Timestamp('2023-10-23 00:00:00'), Timestamp('2023-09-01 00:00:00'), Timestamp('2023-07-17 00:00:00'), Timestamp('2023-09-04 00:00:00'), Timestamp('2023-02-13 00:00:00'), Timestamp('2023-07-15 00:00:00'), Timestamp('2023-01-22 00:00:00'), Timestamp('2023-07-29 00:00:00'), Timestamp('2023-01-05 00:00:00'), Timestamp('2023-04-09 00:00:00'), Timestamp('2023-09-09 00:00:00'), Timestamp('2023-01-17 00:00:00'), Timestamp('2023-05-30 00:00:00'), Timestamp('2023-11-16 00:00:00'), Timestamp('2023-09-21 00:00:00'), Timestamp('2023-07-16 00:00:00'), Timestamp('2023-03-16 00:00:00'), Timestamp('2023-07-06 00:00:00'), Timestamp('2023-04-25 00:00:00'), Timestamp('2023-04-05 00:00:00'), Timestamp('2023-03-06 00:00:00'), Timestamp('2023-10-17 00:00:00'), Timestamp('2023-09-26 00:00:00'), Timestamp('2023-12-13 00:00:00'), Timestamp('2023-10-10 00:00:00'), Timestamp('2023-03-31 00:00:00'), Timestamp('2024-01-01 00:00:00'), Timestamp('2023-09-14 00:00:00'), Timestamp('2023-02-26 00:00:00'), Timestamp('2023-11-24 00:00:00'), Timestamp('2023-04-03 00:00:00'), Timestamp('2023-10-15 00:00:00'), Timestamp('2023-07-27 00:00:00'), Timestamp('2023-06-28 00:00:00'), Timestamp('2023-04-19 00:00:00'), Timestamp('2023-03-09 00:00:00'), Timestamp('2023-03-23 00:00:00'), Timestamp('2023-09-03 00:00:00'), Timestamp('2023-10-31 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-06-25 00:00:00'), Timestamp('2023-10-21 00:00:00'), Timestamp('2023-10-04 00:00:00'), Timestamp('2023-08-29 00:00:00'), Timestamp('2023-12-17 00:00:00'), Timestamp('2023-09-25 00:00:00'), Timestamp('2023-10-26 00:00:00'), Timestamp('2023-12-16 00:00:00'), Timestamp('2023-10-14 00:00:00'), Timestamp('2023-04-06 00:00:00'), Timestamp('2023-05-11 00:00:00'), Timestamp('2023-08-30 00:00:00'), Timestamp('2023-10-27 00:00:00'), Timestamp('2023-10-13 00:00:00'), Timestamp('2023-09-07 00:00:00'), Timestamp('2023-05-27 00:00:00'), Timestamp('2023-06-20 00:00:00'), Timestamp('2023-06-05 00:00:00'), Timestamp('2023-11-05 00:00:00'), Timestamp('2024-01-02 00:00:00'), Timestamp('2023-09-29 00:00:00'), Timestamp('2023-11-26 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-05-13 00:00:00'), Timestamp('2023-02-16 00:00:00'), Timestamp('2023-12-08 00:00:00'), Timestamp('2023-01-23 00:00:00'), Timestamp('2023-12-18 00:00:00'), Timestamp('2024-01-03 00:00:00'), Timestamp('2023-05-29 00:00:00'), Timestamp('2023-01-12 00:00:00'), Timestamp('2023-12-26 00:00:00'), Timestamp('2023-10-18 00:00:00'), Timestamp('2023-04-08 00:00:00'), Timestamp('2023-11-10 00:00:00'), Timestamp('2023-10-08 00:00:00'), Timestamp('2023-05-31 00:00:00'), Timestamp('2023-03-03 00:00:00'), Timestamp('2023-04-01 00:00:00'), Timestamp('2023-05-15 00:00:00'), Timestamp('2023-07-21 00:00:00'), Timestamp('2023-01-04 00:00:00'), Timestamp('2023-03-05 00:00:00'), Timestamp('2023-09-05 00:00:00'), Timestamp('2023-12-29 00:00:00'), Timestamp('2023-12-19 00:00:00'), Timestamp('2023-01-18 00:00:00'), Timestamp('2023-11-12 00:00:00'), Timestamp('2023-09-20 00:00:00'), Timestamp('2023-11-09 00:00:00'), Timestamp('2023-05-07 00:00:00'), Timestamp('2023-11-06 00:00:00'), Timestamp('2023-10-20 00:00:00'), Timestamp('2023-06-02 00:00:00'), Timestamp('2023-06-11 00:00:00'), Timestamp('2023-09-12 00:00:00'), Timestamp('2023-04-14 00:00:00'), Timestamp('2023-08-07 00:00:00'), Timestamp('2023-06-17 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-04-26 00:00:00'), Timestamp('2023-06-19 00:00:00'), Timestamp('2023-03-11 00:00:00'), Timestamp('2023-01-03 00:00:00'), Timestamp('2024-01-04 00:00:00'), Timestamp('2023-12-11 00:00:00'), Timestamp('2023-08-18 00:00:00'), Timestamp('2023-01-02 00:00:00'), Timestamp('2023-04-21 00:00:00'), Timestamp('2023-04-13 00:00:00'), Timestamp('2023-06-26 00:00:00'), Timestamp('2023-01-14 00:00:00'), Timestamp('2023-03-21 00:00:00'), Timestamp('2023-12-22 00:00:00'), Timestamp('2023-01-07 00:00:00'), Timestamp('2023-06-21 00:00:00'), Timestamp('2023-09-02 00:00:00'), Timestamp('2023-11-04 00:00:00'), Timestamp('2023-10-06 00:00:00'), Timestamp('2023-03-20 00:00:00'), Timestamp('2023-07-05 00:00:00'), Timestamp('2023-10-07 00:00:00'), Timestamp('2023-11-22 00:00:00'), Timestamp('2023-06-24 00:00:00'), Timestamp('2023-11-03 00:00:00'), Timestamp('2023-06-16 00:00:00'), Timestamp('2023-09-28 00:00:00'), Timestamp('2023-03-27 00:00:00'), Timestamp('2023-04-20 00:00:00'), Timestamp('2023-02-25 00:00:00'), Timestamp('2023-08-28 00:00:00'), Timestamp('2023-05-23 00:00:00'), Timestamp('2023-11-29 00:00:00'), Timestamp('2023-05-08 00:00:00'), Timestamp('2023-10-22 00:00:00'), Timestamp('2023-07-13 00:00:00'), Timestamp('2023-01-16 00:00:00'), Timestamp('2023-09-15 00:00:00'), Timestamp('2023-07-31 00:00:00'), Timestamp('2023-03-08 00:00:00'), Timestamp('2023-07-19 00:00:00'), Timestamp('2023-09-08 00:00:00'), Timestamp('2023-07-22 00:00:00'), Timestamp('2023-09-18 00:00:00'), Timestamp('2023-03-22 00:00:00'), Timestamp('2023-03-04 00:00:00'), Timestamp('2023-07-02 00:00:00'), Timestamp('2023-12-31 00:00:00'), Timestamp('2023-04-04 00:00:00'), Timestamp('2023-08-26 00:00:00'), Timestamp('2023-04-18 00:00:00'), Timestamp('2023-11-13 00:00:00'), Timestamp('2023-05-05 00:00:00'), Timestamp('2023-03-28 00:00:00'), Timestamp('2023-02-10 00:00:00'), Timestamp('2023-12-07 00:00:00'), Timestamp('2023-12-24 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2023-08-16 00:00:00'), Timestamp('2023-03-29 00:00:00'), Timestamp('2023-08-05 00:00:00'), Timestamp('2023-11-11 00:00:00'), Timestamp('2023-05-12 00:00:00'), Timestamp('2023-10-19 00:00:00'), Timestamp('2023-12-02 00:00:00'), Timestamp('2023-02-27 00:00:00'), Timestamp('2023-05-19 00:00:00'), Timestamp('2023-06-03 00:00:00'), Timestamp('2023-07-04 00:00:00'), Timestamp('2023-04-29 00:00:00'), Timestamp('2023-03-17 00:00:00'), Timestamp('2023-08-06 00:00:00'), Timestamp('2023-05-04 00:00:00'), Timestamp('2023-09-22 00:00:00'), Timestamp('2023-06-09 00:00:00'), Timestamp('2023-01-20 00:00:00'), Timestamp('2023-02-21 00:00:00'), Timestamp('2023-02-11 00:00:00'), Timestamp('2023-06-14 00:00:00'), Timestamp('2023-05-09 00:00:00'), Timestamp('2023-03-24 00:00:00'), Timestamp('2023-11-02 00:00:00'), Timestamp('2023-06-07 00:00:00'), Timestamp('2023-04-02 00:00:00'), Timestamp('2023-10-30 00:00:00'), Timestamp('2023-09-23 00:00:00'), Timestamp('2023-10-28 00:00:00'), Timestamp('2023-11-28 00:00:00'), Timestamp('2023-06-12 00:00:00'), Timestamp('2023-05-18 00:00:00'), Timestamp('2023-05-21 00:00:00'), Timestamp('2023-01-09 00:00:00'), Timestamp('2023-06-23 00:00:00'), Timestamp('2023-01-21 00:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-03-26 00:00:00'), Timestamp('2023-02-17 00:00:00'), Timestamp('2023-07-11 00:00:00'), Timestamp('2023-06-15 00:00:00'), Timestamp('2023-05-02 00:00:00'), Timestamp('2023-02-24 00:00:00'), Timestamp('2023-12-04 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2023-03-07 00:00:00'), Timestamp('2023-05-06 00:00:00'), Timestamp('2023-09-19 00:00:00'), Timestamp('2023-08-03 00:00:00'), Timestamp('2023-04-07 00:00:00'), Timestamp('2023-08-31 00:00:00'), Timestamp('2023-10-05 00:00:00'), Timestamp('2023-10-29 00:00:00'), Timestamp('2023-12-03 00:00:00'), Timestamp('2023-07-09 00:00:00'), Timestamp('2023-12-15 00:00:00'), Timestamp('2023-09-11 00:00:00'), Timestamp('2023-04-23 00:00:00'), Timestamp('2023-04-12 00:00:00'), Timestamp('2023-12-12 00:00:00'), Timestamp('2023-05-24 00:00:00'), Timestamp('2023-03-30 00:00:00'), Timestamp('2023-01-08 00:00:00'), Timestamp('2023-01-06 00:00:00'), Timestamp('2023-02-14 00:00:00'), Timestamp('2023-07-08 00:00:00'), Timestamp('2023-01-25 00:00:00'), Timestamp('2024-01-05 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2023-10-25 00:00:00'), Timestamp('2023-01-11 00:00:00'), Timestamp('2023-09-17 00:00:00'), Timestamp('2023-11-27 00:00:00'), Timestamp('2023-04-16 00:00:00'), Timestamp('2023-05-14 00:00:00'), Timestamp('2023-06-13 00:00:00'), Timestamp('2023-03-15 00:00:00'), Timestamp('2023-10-24 00:00:00'), Timestamp('2023-03-18 00:00:00'), Timestamp('2023-03-14 00:00:00'), Timestamp('2023-03-10 00:00:00'), Timestamp('2023-12-14 00:00:00'), Timestamp('2023-08-25 00:00:00'), Timestamp('2023-10-16 00:00:00'), Timestamp('2023-12-05 00:00:00'), Timestamp('2023-08-01 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2023-04-17 00:00:00'), Timestamp('2023-05-10 00:00:00'), Timestamp('2023-07-14 00:00:00'), Timestamp('2023-07-23 00:00:00'), Timestamp('2023-07-10 00:00:00'), Timestamp('2023-12-10 00:00:00'), Timestamp('2023-06-22 00:00:00'), Timestamp('2023-11-14 00:00:00'), Timestamp('2023-11-23 00:00:00'), Timestamp('2023-06-18 00:00:00'), Timestamp('2023-03-25 00:00:00'), Timestamp('2023-03-12 00:00:00'), Timestamp('2023-04-15 00:00:00'), Timestamp('2023-08-15 00:00:00'), Timestamp('2023-12-20 00:00:00'), Timestamp('2023-02-18 00:00:00'), Timestamp('2023-08-27 00:00:00'), Timestamp('2023-04-30 00:00:00'), Timestamp('2023-11-20 00:00:00'), Timestamp('2023-12-09 00:00:00'), Timestamp('2023-12-06 00:00:00'), Timestamp('2023-02-22 00:00:00'), Timestamp('2023-08-24 00:00:00'), Timestamp('2023-08-20 00:00:00'), Timestamp('2023-10-11 00:00:00'), Timestamp('2023-06-27 00:00:00'), Timestamp('2023-05-20 00:00:00'), Timestamp('2023-11-21 00:00:00'), Timestamp('2023-05-17 00:00:00'), Timestamp('2023-05-25 00:00:00'), Timestamp('2023-03-19 00:00:00'), Timestamp('2023-07-18 00:00:00'), Timestamp('2023-11-01 00:00:00'), Timestamp('2023-11-19 00:00:00'), Timestamp('2023-02-15 00:00:00'), Timestamp('2023-02-20 00:00:00'), Timestamp('2023-07-30 00:00:00'), Timestamp('2023-07-12 00:00:00'), Timestamp('2023-09-27 00:00:00'), Timestamp('2023-09-06 00:00:00'), Timestamp('2023-02-12 00:00:00'), Timestamp('2023-11-15 00:00:00'), Timestamp('2023-05-26 00:00:00'), Timestamp('2023-08-22 00:00:00'), Timestamp('2023-05-03 00:00:00')}
{Timestamp('2023-10-03 00:00:00'), Timestamp('2023-11-08 00:00:00'), Timestamp('2023-02-02 00:00:00'), Timestamp('2023-04-28 00:00:00'), Timestamp('2023-08-08 00:00:00'), Timestamp('2023-08-10 00:00:00'), Timestamp('2023-11-07 00:00:00'), Timestamp('2023-08-09 00:00:00'), Timestamp('2023-04-27 00:00:00'), Timestamp('2023-02-05 00:00:00'), Timestamp('2023-01-29 00:00:00'), Timestamp('2023-02-01 00:00:00'), Timestamp('2023-01-30 00:00:00'), Timestamp('2023-10-02 00:00:00'), Timestamp('2023-02-08 00:00:00'), Timestamp('2023-02-07 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2023-01-28 00:00:00'), Timestamp('2023-02-09 00:00:00'), Timestamp('2023-08-13 00:00:00'), Timestamp('2023-08-12 00:00:00'), Timestamp('2023-01-27 00:00:00'), Timestamp('2023-12-27 00:00:00'), Timestamp('2023-01-26 00:00:00'), Timestamp('2023-02-04 00:00:00'), Timestamp('2023-02-06 00:00:00'), Timestamp('2023-02-03 00:00:00'), Timestamp('2023-08-11 00:00:00'), Timestamp('2023-01-31 00:00:00')}
2023å¹´ä½ å¯ä»¥ä¼‘å‡çš„å¤©æ•°ä¸º:29

In [18]:
import sqlite3
conn=sqlite3.connect(':memory:')
cursor=conn.cursor()
# 1.åˆ›å»ºäº‹ä»¶è¡¨
cursor.execute(
    """ 
    create table evil_events(
        event text,
        start_date DATE,
        duration INT
    )
    """
)
events = [
    ('æ‰“ç£¨æ–°çš„å…µå™¨', '2023-02-10', 17),
    ('çœ‹1æœˆæ–°ç•ª', '2023-05-02', 8),
    ('ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', '2023-02-23', 31),
    ('å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', '2023-03-17', 14),
    ('å†¶ç‚¼æœ€å¼ºçš„é‡‘å±', '2023-04-29', 28),
    ('å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', '2023-09-05', 20),
    ('æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', '2023-05-12', 24),
    ('è®¾è®¡æ¶é­”æ ‡å¿—', '2023-03-22', 5),
    ('çœ‹4æœˆæ–°ç•ª', '2023-04-09', 9),
    ('å¬å”¤æ¶é­”ä»ªå¼', '2023-07-13', 26),
    ('ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', '2023-09-10', 12),
    ('çœ‹7æœˆæ–°ç•ª', '2023-07-05', 21),
    ('ç¼–å†™é‚ªæ¶æ‰‹å†Œ', '2023-08-31', 15),
    ('ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', '2023-10-08', 30),
    ('æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜', '2023-08-28', 11),
    ('å¼€å±•é»‘æš—ä»ªå¼', '2023-09-01', 4),
    ('å¤ºå–å®è—', '2023-09-07', 25),
    ('æ”¶é›†é­”æ³•ç‰©å“', '2023-08-22', 5),
    ('å¼•å‘ææ…Œå’Œæ··ä¹±', '2023-11-18', 18),
    ('å‘å±•é‚ªæ¶ç§‘æŠ€', '2023-12-11', 16),
    ('çœ‹10æœˆæ–°ç•ª', '2023-10-12', 10),
    ('åˆ¶é€ æ¯’è¯å’Œè¯…å’’', '2023-01-03', 23),
    ('å»ºç«‹é‚ªæ¶ç‹å›½', '2023-06-21', 29),
    ('å¾æœä¸–ç•Œï¼', '2023-12-28', 6),
    ('ç ´åè‹±é›„çš„å£°èª‰', '2023-08-18', 27),
    ('å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', '2023-06-11', 13),
    ('è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', '2023-12-04', 22),
    ('å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', '2023-04-16', 6),
    ('åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«', '2023-11-09', 32),
    ('å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', '2023-07-26', 7),
    ('å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', '2023-05-21', 25),
    ('ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', '2023-12-31', 6),
    ('ç…½åŠ¨åæŠ—å†›', '2023-01-09', 12),
    ('å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´', '2023-03-29', 29),
    ('é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', '2023-07-19', 13),
    ('å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', '2023-03-22', 22),
    ('å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', '2023-10-04', 9),
    ('å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨', '2023-08-14', 14),
    ('å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', '2023-11-30', 21),
    ('æ´—è„‘åŸå¸‚å±…æ°‘', '2023-04-19', 8),
    ('é‡Šæ”¾é»‘æš—ä¹‹é­‚', '2023-02-11', 30),
    ('æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', '2023-01-02', 4),
    ('è¿½æ•å¹¶æŠ¹æ€è‹±é›„', '2023-09-06', 19)
]

cursor.executemany('INSERT into evil_events(event,start_date,duration) Values(?,?,?)',events)

# åˆ›å»ºæ—¥å†è¡¨
cursor.execute(
    """ 
    WITH RECURSIVE calendar as (
        SELECT 
        DATE('2023-01-01') as day
        UNION ALL
        SELECT DATE(day,'+1 day')
        from calendar
        where day<'2023-12-31'
    )
    SELECT count(*) as free_days
    from calendar c
    left join evil_events e
    on c.day between e.start_date and Date(e.start_date,'+' ||(e.duration-1)||' days')
    where e.event is null;
    """
)

result=cursor.fetchone()
print(f"2023å¹´æœ‰{result[0]}å¤©æ˜¯ç©ºé—²çš„")
conn.close()

2023å¹´æœ‰29å¤©æ˜¯ç©ºé—²çš„

# Q7: åœ¨ 2023 å¹´å½“ä¸­ï¼Œæˆ‘æœ€å¤šä¸€å¤©è¦æ‰§è¡Œå‡ ä¸ªé‚ªæ¶äº‹é¡¹ï¼ŸÂ¶

In [20]:
import sqlite3

# åˆ›å»ºå¹¶è¿æ¥æ•°æ®åº“ï¼ˆå†…å­˜ä¸­åˆ›å»ºï¼‰
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 1: åˆ›å»ºäº‹ä»¶è¡¨
cursor.execute('''
    CREATE TABLE evil_events (
        event TEXT,
        start_date DATE,
        duration INT
    )
''')

# Step 2: æ’å…¥æ•°æ®
events = [
    ('æ‰“ç£¨æ–°çš„å…µå™¨', '2023-02-10', 17),
    ('çœ‹1æœˆæ–°ç•ª', '2023-05-02', 8),
    ('ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', '2023-02-23', 31),
    ('å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', '2023-03-17', 14),
    ('å†¶ç‚¼æœ€å¼ºçš„é‡‘å±', '2023-04-29', 28),
    ('å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', '2023-09-05', 20),
    ('æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', '2023-05-12', 24),
    ('è®¾è®¡æ¶é­”æ ‡å¿—', '2023-03-22', 5),
    ('çœ‹4æœˆæ–°ç•ª', '2023-04-09', 9),
    ('å¬å”¤æ¶é­”ä»ªå¼', '2023-07-13', 26),
    ('ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', '2023-09-10', 12),
    ('çœ‹7æœˆæ–°ç•ª', '2023-07-05', 21),
    ('ç¼–å†™é‚ªæ¶æ‰‹å†Œ', '2023-08-31', 15),
    ('ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', '2023-10-08', 30),
    ('æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜', '2023-08-28', 11),
    ('å¼€å±•é»‘æš—ä»ªå¼', '2023-09-01', 4),
    ('å¤ºå–å®è—', '2023-09-07', 25),
    ('æ”¶é›†é­”æ³•ç‰©å“', '2023-08-22', 5),
    ('å¼•å‘ææ…Œå’Œæ··ä¹±', '2023-11-18', 18),
    ('å‘å±•é‚ªæ¶ç§‘æŠ€', '2023-12-11', 16),
    ('çœ‹10æœˆæ–°ç•ª', '2023-10-12', 10),
    ('åˆ¶é€ æ¯’è¯å’Œè¯…å’’', '2023-01-03', 23),
    ('å»ºç«‹é‚ªæ¶ç‹å›½', '2023-06-21', 29),
    ('å¾æœä¸–ç•Œï¼', '2023-12-28', 6),
    ('ç ´åè‹±é›„çš„å£°èª‰', '2023-08-18', 27),
    ('å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', '2023-06-11', 13),
    ('è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', '2023-12-04', 22),
    ('å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', '2023-04-16', 6),
    ('åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«', '2023-11-09', 32),
    ('å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', '2023-07-26', 7),
    ('å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', '2023-05-21', 25),
    ('ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', '2023-12-31', 6),
    ('ç…½åŠ¨åæŠ—å†›', '2023-01-09', 12),
    ('å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´', '2023-03-29', 29),
    ('é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', '2023-07-19', 13),
    ('å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', '2023-03-22', 22),
    ('å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', '2023-10-04', 9),
    ('å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨', '2023-08-14', 14),
    ('å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', '2023-11-30', 21),
    ('æ´—è„‘åŸå¸‚å±…æ°‘', '2023-04-19', 8),
    ('é‡Šæ”¾é»‘æš—ä¹‹é­‚', '2023-02-11', 30),
    ('æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', '2023-01-02', 4),
    ('è¿½æ•å¹¶æŠ¹æ€è‹±é›„', '2023-09-06', 19)
]
cursor.executemany('INSERT INTO evil_events (event, start_date, duration) VALUES (?, ?, ?)', events)

cursor.execute(
    """ 
    with recursive calendar as (
        select date('2023-01-01') as day
        union all 
        select date(day,'+1 day')
        from calendar
        where day <'2023-12-31'
    ),
    event_days as ( 
        select c.day,count(e.event) as event_count
        from calendar c
        left join evil_events e
        on c.day between e.start_date and DATE(e.start_date,'+'||(e.duration-1)||' days')
        group by c.day
    )
    select max(event_count) as max_events
    from event_days;
    """
)
result=cursor.fetchone()
print(f"2023 å¹´æœ€å¤šä¸€å¤©è¦æ‰§è¡Œ {result[0]} ä¸ªé‚ªæ¶äº‹é¡¹ï¼")
conn.close()

2023 å¹´æœ€å¤šä¸€å¤©è¦æ‰§è¡Œ 6 ä¸ªé‚ªæ¶äº‹é¡¹ï¼

## python è§£æ³•

In [ ]:
import pandas as pd

# å®šä¹‰æ•°æ®
events = [
    'æ‰“ç£¨æ–°çš„å…µå™¨', 'çœ‹1æœˆæ–°ç•ª', 'ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', 'å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', 'å†¶ç‚¼æœ€å¼ºçš„é‡‘å±',
    'å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', 'æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', 'è®¾è®¡æ¶é­”æ ‡å¿—', 'çœ‹4æœˆæ–°ç•ª', 'å¬å”¤æ¶é­”ä»ªå¼',
    'ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', 'çœ‹7æœˆæ–°ç•ª', 'ç¼–å†™é‚ªæ¶æ‰‹å†Œ', 'ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', 'æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜',
    'å¼€å±•é»‘æš—ä»ªå¼', 'å¤ºå–å®è—', 'æ”¶é›†é­”æ³•ç‰©å“', 'å¼•å‘ææ…Œå’Œæ··ä¹±', 'å‘å±•é‚ªæ¶ç§‘æŠ€',
    'çœ‹10æœˆæ–°ç•ª', 'åˆ¶é€ æ¯’è¯å’Œè¯…å’’', 'å»ºç«‹é‚ªæ¶ç‹å›½', 'å¾æœä¸–ç•Œï¼', 'ç ´åè‹±é›„çš„å£°èª‰',
    'å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', 'è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', 'å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', 'åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«',
    'å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', 'å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', 'ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', 'ç…½åŠ¨åæŠ—å†›', 'å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´',
    'é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', 'å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', 'å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', 'å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨',
    'å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', 'æ´—è„‘åŸå¸‚å±…æ°‘', 'é‡Šæ”¾é»‘æš—ä¹‹é­‚', 'æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', 'è¿½æ•å¹¶æŠ¹æ€è‹±é›„'
]

start_dates = [
    '2023-02-10', '2023-05-02', '2023-02-23', '2023-03-17', '2023-04-29',
    '2023-09-05', '2023-05-12', '2023-03-22', '2023-04-09', '2023-07-13',
    '2023-09-10', '2023-07-05', '2023-08-31', '2023-10-08', '2023-08-28',
    '2023-09-01', '2023-09-07', '2023-08-22', '2023-11-18', '2023-12-11',
    '2023-10-12', '2023-01-03', '2023-06-21', '2023-12-28', '2023-08-18',
    '2023-06-11', '2023-12-04', '2023-04-16', '2023-11-09', '2023-07-26',
    '2023-05-21', '2023-12-31', '2023-01-09', '2023-03-29', '2023-07-19',
    '2023-03-22', '2023-10-04', '2023-08-14', '2023-11-30', '2023-04-19',
    '2023-02-11', '2023-01-02', '2023-09-06'
]

durations = [
    17, 8, 31, 14, 28, 20, 24, 5, 9, 26,
    12, 21, 15, 30, 11, 4, 25, 5, 18, 16,
    10, 23, 29, 6, 27, 13, 22, 6, 32, 7,
    25, 6, 12, 29, 13, 22, 9, 14, 21, 8,
    30, 4, 19
]

#åˆ›å»ºdataframe
data=pd.DataFrame({'events':events,'start_date':start_date,'duration':duration})
data['start_date']=pd.to_datetime(data['start_date'])
# å±•å¼€æ‰€æœ‰æ—¥æœŸèŒƒå›´
all_dates=[]
for _,row in data.iterrows():
    #åˆ›å»ºæ—¥æœŸï¼Œä»å¼€å§‹åˆ°æˆªæ­¢
    dates=pd.date_range(row['start_date'],periods=row['duration']).tolist()
    all_dates.extend(dates)

date_counts=pd.DataFrame({'date':all_dates})
date_counts=date_counts.value_counts().reset_index(name='count').rename(columns={0:'date'})

max_events=date_counts['count'].max()
print(f'2023å¹´æœ€å¤šä¸€å¤©éœ€è¦æ‰§è¡Œ{max_events}ä¸ªé‚ªæ¶äº‹é¡¹')

2023å¹´æœ€å¤šä¸€å¤©éœ€è¦æ‰§è¡Œ6ä¸ªé‚ªæ¶äº‹é¡¹

          date  count
0   2023-09-07      6
1   2023-09-13      6
2   2023-09-12      6
3   2023-09-11      6
4   2023-09-10      6
..         ...    ...
336 2023-07-02      1
337 2023-07-01      1
338 2023-06-30      1
339 2023-06-29      1
340 2024-01-05      1

[341 rows x 2 columns]

# Q8: åœ¨ 2023 å¹´å½“ä¸­ï¼Œæˆ‘ä¸€å¤©éœ€è¦å¿™ç¢Œå¤šå°‘å¤©ï¼Ÿ

In [35]:
import sqlite3

# åˆ›å»ºå¹¶è¿æ¥æ•°æ®åº“ï¼ˆå†…å­˜ä¸­åˆ›å»ºï¼‰
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 1: åˆ›å»ºäº‹ä»¶è¡¨
cursor.execute('''
    CREATE TABLE evil_events (
        event TEXT,
        start_date DATE,
        duration INT
    )
''')

# Step 2: æ’å…¥æ•°æ®
events = [
    ('æ‰“ç£¨æ–°çš„å…µå™¨', '2023-02-10', 17),
    ('çœ‹1æœˆæ–°ç•ª', '2023-05-02', 8),
    ('ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', '2023-02-23', 31),
    ('å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', '2023-03-17', 14),
    ('å†¶ç‚¼æœ€å¼ºçš„é‡‘å±', '2023-04-29', 28),
    ('å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', '2023-09-05', 20),
    ('æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', '2023-05-12', 24),
    ('è®¾è®¡æ¶é­”æ ‡å¿—', '2023-03-22', 5),
    ('çœ‹4æœˆæ–°ç•ª', '2023-04-09', 9),
    ('å¬å”¤æ¶é­”ä»ªå¼', '2023-07-13', 26),
    ('ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', '2023-09-10', 12),
    ('çœ‹7æœˆæ–°ç•ª', '2023-07-05', 21),
    ('ç¼–å†™é‚ªæ¶æ‰‹å†Œ', '2023-08-31', 15),
    ('ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', '2023-10-08', 30),
    ('æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜', '2023-08-28', 11),
    ('å¼€å±•é»‘æš—ä»ªå¼', '2023-09-01', 4),
    ('å¤ºå–å®è—', '2023-09-07', 25),
    ('æ”¶é›†é­”æ³•ç‰©å“', '2023-08-22', 5),
    ('å¼•å‘ææ…Œå’Œæ··ä¹±', '2023-11-18', 18),
    ('å‘å±•é‚ªæ¶ç§‘æŠ€', '2023-12-11', 16),
    ('çœ‹10æœˆæ–°ç•ª', '2023-10-12', 10),
    ('åˆ¶é€ æ¯’è¯å’Œè¯…å’’', '2023-01-03', 23),
    ('å»ºç«‹é‚ªæ¶ç‹å›½', '2023-06-21', 29),
    ('å¾æœä¸–ç•Œï¼', '2023-12-28', 6),
    ('ç ´åè‹±é›„çš„å£°èª‰', '2023-08-18', 27),
    ('å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', '2023-06-11', 13),
    ('è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', '2023-12-04', 22),
    ('å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', '2023-04-16', 6),
    ('åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«', '2023-11-09', 32),
    ('å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', '2023-07-26', 7),
    ('å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', '2023-05-21', 25),
    ('ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', '2023-12-31', 6),
    ('ç…½åŠ¨åæŠ—å†›', '2023-01-09', 12),
    ('å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´', '2023-03-29', 29),
    ('é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', '2023-07-19', 13),
    ('å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', '2023-03-22', 22),
    ('å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', '2023-10-04', 9),
    ('å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨', '2023-08-14', 14),
    ('å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', '2023-11-30', 21),
    ('æ´—è„‘åŸå¸‚å±…æ°‘', '2023-04-19', 8),
    ('é‡Šæ”¾é»‘æš—ä¹‹é­‚', '2023-02-11', 30),
    ('æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', '2023-01-02', 4),
    ('è¿½æ•å¹¶æŠ¹æ€è‹±é›„', '2023-09-06', 19)
]
cursor.executemany('INSERT INTO evil_events (event, start_date, duration) VALUES (?, ?, ?)', events)

sql_query = """
SELECT t.date, DATE(t.date,'+3 days'), SUM(t1.event_num), COUNT(t2.event), COUNT(t3.event)
FROM example_table AS t
LEFT JOIN (
    SELECT date, COUNT(event) event_num FROM example_table2 WHERE desc != 'ç»“æŸ' GROUP BY date
) AS t1 ON t1.date = t.date
LEFT JOIN (
    SELECT date, event FROM example_table2 WHERE importance > 1 AND desc = 'ç»“æŸ'
) AS t2 ON t2.date BETWEEN DATE(t.date,'+1 days') AND DATE(t.date,'+3 days')
LEFT JOIN (
    SELECT date, event FROM example_table2 WHERE importance > 2 AND desc = 'å¼€å§‹'
) AS t3 ON t3.date BETWEEN DATE(t.date,'+1 days') AND DATE(t.date,'+3 days')
GROUP BY t.date
HAVING SUM(t1.event_num) >= 2 OR COUNT(t2.event) > 0 OR COUNT(t3.event) > 0
ORDER BY t.date
"""

# æ‰§è¡ŒæŸ¥è¯¢
cursor.execute(sql_query)

# è·å–æŸ¥è¯¢ç»“æœå¹¶è½¬ä¸º Pandas DataFrame
result = cursor.fetchall()
df = pd.DataFrame(result, columns=["date", "date_plus_3_days", "sum_event_num", "count_ended", "count_started"])

# è¾“å‡ºç»“æœ
print(df)

# å…³é—­æ•°æ®åº“è¿æ¥
cursor.close()
conn.close()

OperationalError: no such table: example_table

In [30]:
import sqlite3
import pandas as pd
from datetime import datetime, timedelta

# æ•°æ®åˆå§‹åŒ–
events = [
    'æ‰“ç£¨æ–°çš„å…µå™¨', 'çœ‹1æœˆæ–°ç•ª', 'ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', 'å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', 'å†¶ç‚¼æœ€å¼ºçš„é‡‘å±',
    'å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', 'æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', 'è®¾è®¡æ¶é­”æ ‡å¿—', 'çœ‹4æœˆæ–°ç•ª', 'å¬å”¤æ¶é­”ä»ªå¼',
    'ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', 'çœ‹7æœˆæ–°ç•ª', 'ç¼–å†™é‚ªæ¶æ‰‹å†Œ', 'ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', 'æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜',
    'å¼€å±•é»‘æš—ä»ªå¼', 'å¤ºå–å®è—', 'æ”¶é›†é­”æ³•ç‰©å“', 'å¼•å‘ææ…Œå’Œæ··ä¹±', 'å‘å±•é‚ªæ¶ç§‘æŠ€',
    'çœ‹10æœˆæ–°ç•ª', 'åˆ¶é€ æ¯’è¯å’Œè¯…å’’', 'å»ºç«‹é‚ªæ¶ç‹å›½', 'å¾æœä¸–ç•Œï¼', 'ç ´åè‹±é›„çš„å£°èª‰',
    'å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', 'è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', 'å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', 'åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«',
    'å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', 'å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', 'ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', 'ç…½åŠ¨åæŠ—å†›', 'å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´',
    'é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', 'å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', 'å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', 'å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨',
    'å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', 'æ´—è„‘åŸå¸‚å±…æ°‘', 'é‡Šæ”¾é»‘æš—ä¹‹é­‚', 'æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', 'è¿½æ•å¹¶æŠ¹æ€è‹±é›„'
]

start_dates = [
    '2023-02-10', '2023-05-02', '2023-02-23', '2023-03-17', '2023-04-29',
    '2023-09-05', '2023-05-12', '2023-03-22', '2023-04-09', '2023-07-13',
    '2023-09-10', '2023-07-05', '2023-08-31', '2023-10-08', '2023-08-28',
    '2023-09-01', '2023-09-07', '2023-08-22', '2023-11-18', '2023-12-11',
    '2023-10-12', '2023-01-03', '2023-06-21', '2023-12-28', '2023-08-18',
    '2023-06-11', '2023-12-04', '2023-04-16', '2023-11-09', '2023-07-26',
    '2023-05-21', '2023-12-31', '2023-01-09', '2023-03-29', '2023-07-19',
    '2023-03-22', '2023-10-04', '2023-08-14', '2023-11-30', '2023-04-19',
    '2023-02-11', '2023-01-02', '2023-09-06'
]

durations = [
    17, 8, 31, 14, 28, 20, 24, 5, 9, 26,
    12, 21, 15, 30, 11, 4, 25, 5, 18, 16,
    10, 23, 29, 6, 27, 13, 22, 6, 32, 7,
    25, 6, 12, 29, 13, 22, 9, 14, 21, 8,
    30, 4, 19
]

importances = [
    2, 3, 1, 0, 1, 0, 1, 2, 3, 2,
    2, 3, 0, 0, 3, 1, 3, 1, 3, 2,
    3, 0, 1, 2, 1, 3, 2, 1, 0, 0,
    1, 1, 3, 0, 2, 2, 0, 3, 2, 3,
    3, 2, 0
]

# åˆ›å»º SQLite æ•°æ®åº“
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# åˆ›å»ºäº‹ä»¶è¡¨
cursor.execute('''
CREATE TABLE events (
    id INTEGER PRIMARY KEY,
    event TEXT,
    start_date DATE,
    duration INTEGER,
    importance INTEGER
)
''')

# æ’å…¥æ•°æ®
for i in range(len(events)):
    cursor.execute('''
    INSERT INTO events (event, start_date, duration, importance)
    VALUES (?, ?, ?, ?)
    ''', (events[i], start_dates[i], durations[i], importances[i]))

# åˆ›å»ºæ¯æ—¥æ—¥æœŸè¡¨
cursor.execute('''
CREATE TABLE calendar AS
WITH RECURSIVE date_gen AS (
    SELECT DATE('2023-01-01') AS date
    UNION ALL
    SELECT DATE(date, '+1 day')
    FROM date_gen
    WHERE date < DATE('2023-12-31')
)
SELECT date FROM date_gen
''')

# æŸ¥è¯¢å¿™ç¢Œå¤©æ•°
query = '''
WITH active_events AS (
    SELECT 
        c.date,
        COUNT(e.id) AS active_count,
        MAX(CASE WHEN DATE(e.start_date, '+' || e.duration || ' days') BETWEEN c.date AND DATE(c.date, '+3 days') AND e.importance > 1 THEN 1 ELSE 0 END) AS future_important_ends,
        MAX(CASE WHEN e.start_date BETWEEN c.date AND DATE(c.date, '+3 days') AND e.importance > 2 THEN 1 ELSE 0 END) AS future_important_starts
    FROM calendar c
    LEFT JOIN events e
    ON c.date BETWEEN e.start_date AND DATE(e.start_date, '+' || e.duration || ' days')
    GROUP BY c.date
)
SELECT COUNT(*) AS busy_days
FROM active_events
WHERE active_count >= 2
   OR future_important_ends = 1
   OR future_important_starts = 1
'''

# æ‰§è¡ŒæŸ¥è¯¢
cursor.execute(query)
result = cursor.fetchone()
print(f"2023 å¹´å¿™ç¢Œçš„å¤©æ•°ä¸º: {result[0]} å¤©")

# å…³é—­è¿æ¥
conn.close()

2023 å¹´å¿™ç¢Œçš„å¤©æ•°ä¸º: 266 å¤©

## python ä»£ç

In [31]:
import pandas as pd

# æ•°æ®åˆå§‹åŒ–
events = [
    'æ‰“ç£¨æ–°çš„å…µå™¨', 'çœ‹1æœˆæ–°ç•ª', 'ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', 'å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', 'å†¶ç‚¼æœ€å¼ºçš„é‡‘å±',
    'å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', 'æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', 'è®¾è®¡æ¶é­”æ ‡å¿—', 'çœ‹4æœˆæ–°ç•ª', 'å¬å”¤æ¶é­”ä»ªå¼',
    'ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', 'çœ‹7æœˆæ–°ç•ª', 'ç¼–å†™é‚ªæ¶æ‰‹å†Œ', 'ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', 'æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜',
    'å¼€å±•é»‘æš—ä»ªå¼', 'å¤ºå–å®è—', 'æ”¶é›†é­”æ³•ç‰©å“', 'å¼•å‘ææ…Œå’Œæ··ä¹±', 'å‘å±•é‚ªæ¶ç§‘æŠ€',
    'çœ‹10æœˆæ–°ç•ª', 'åˆ¶é€ æ¯’è¯å’Œè¯…å’’', 'å»ºç«‹é‚ªæ¶ç‹å›½', 'å¾æœä¸–ç•Œï¼', 'ç ´åè‹±é›„çš„å£°èª‰',
    'å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', 'è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', 'å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', 'åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«',
    'å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', 'å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', 'ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', 'ç…½åŠ¨åæŠ—å†›', 'å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´',
    'é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', 'å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', 'å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', 'å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨',
    'å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', 'æ´—è„‘åŸå¸‚å±…æ°‘', 'é‡Šæ”¾é»‘æš—ä¹‹é­‚', 'æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', 'è¿½æ•å¹¶æŠ¹æ€è‹±é›„'
]

start_dates = [
    '2023-02-10', '2023-05-02', '2023-02-23', '2023-03-17', '2023-04-29',
    '2023-09-05', '2023-05-12', '2023-03-22', '2023-04-09', '2023-07-13',
    '2023-09-10', '2023-07-05', '2023-08-31', '2023-10-08', '2023-08-28',
    '2023-09-01', '2023-09-07', '2023-08-22', '2023-11-18', '2023-12-11',
    '2023-10-12', '2023-01-03', '2023-06-21', '2023-12-28', '2023-08-18',
    '2023-06-11', '2023-12-04', '2023-04-16', '2023-11-09', '2023-07-26',
    '2023-05-21', '2023-12-31', '2023-01-09', '2023-03-29', '2023-07-19',
    '2023-03-22', '2023-10-04', '2023-08-14', '2023-11-30', '2023-04-19',
    '2023-02-11', '2023-01-02', '2023-09-06'
]

durations = [
    17, 8, 31, 14, 28, 20, 24, 5, 9, 26,
    12, 21, 15, 30, 11, 4, 25, 5, 18, 16,
    10, 23, 29, 6, 27, 13, 22, 6, 32, 7,
    25, 6, 12, 29, 13, 22, 9, 14, 21, 8,
    30, 4, 19
]

importances = [
    2, 3, 1, 0, 1, 0, 1, 2, 3, 2,
    2, 3, 0, 0, 3, 1, 3, 1, 3, 2,
    3, 0, 1, 2, 1, 3, 2, 1, 0, 0,
    1, 1, 3, 0, 2, 2, 0, 3, 2, 3,
    3, 2, 0
]

# åˆ›å»º DataFrame
data = pd.DataFrame({
    'event': events,
    'start_date': start_dates,
    'duration': durations,
    'importance': importances
})

data['start_date'] = pd.to_datetime(data['start_date'])
data['end_date'] = data['start_date'] + pd.to_timedelta(data['duration'] - 1, unit='D')

# ç”Ÿæˆæ¯æ—¥æ•°æ®
all_dates = pd.date_range('2023-01-01', '2023-12-31')
busy_days = pd.DataFrame({'date': all_dates})

# æ£€æŸ¥æ¯å¤©æ‰§è¡Œçš„äº‹é¡¹æ•°
def count_active_events(row, current_date):
    active = (row['start_date'] <= current_date) & (row['end_date'] >= current_date)
    return active.sum()

# æ£€æŸ¥æœªæ¥ 3 å¤©çš„é‡è¦äº‹é¡¹
def future_important_events(row, current_date):
    # æ£€æŸ¥æœªæ¥ 3 å¤©å†…æ˜¯å¦æœ‰é‡è¦æ€§ > 1 çš„äº‹é¡¹ç»“æŸ
    future_ends = (row['end_date'] > current_date) & (row['end_date'] <= current_date + pd.Timedelta(days=3))
    important_end = future_ends & (row['importance'] > 1)
    # æ£€æŸ¥æœªæ¥ 3 å¤©å†…æ˜¯å¦æœ‰é‡è¦æ€§ > 2 çš„äº‹é¡¹å¼€å§‹
    future_starts = (row['start_date'] > current_date) & (row['start_date'] <= current_date + pd.Timedelta(days=3))
    important_start = future_starts & (row['importance'] > 2)
    return important_end.sum() > 0 or important_start.sum() > 0

# è®¡ç®—æ¯å¤©æ˜¯å¦å¿™ç¢Œ
busy_days['active_events'] = busy_days['date'].apply(lambda x: count_active_events(data, x))
busy_days['future_important'] = busy_days['date'].apply(lambda x: future_important_events(data, x))

# æ»¡è¶³å¿™ç¢Œæ¡ä»¶çš„å¤©æ•°
busy_days['busy'] = (busy_days['active_events'] >= 2) | (busy_days['future_important'])
total_busy_days = busy_days['busy'].sum()

print(f"2023 å¹´æ€»å…±æœ‰ {total_busy_days} å¤©æ˜¯å¿™ç¢Œçš„ï¼")

2023 å¹´æ€»å…±æœ‰ 274 å¤©æ˜¯å¿™ç¢Œçš„ï¼

# Q9: åœ¨ 2023 å¹´å½“ä¸­ï¼Œæœ‰å¤šå°‘ä¸ªå‘¨æœ«æˆ‘éœ€è¦æ‰§è¡Œ >= 2ä¸ªçš„äº‹é¡¹ï¼Ÿ

In [32]:
import sqlite3
from datetime import timedelta, datetime

# æ•°æ®åˆå§‹åŒ–
events = [
    'æ‰“ç£¨æ–°çš„å…µå™¨', 'çœ‹1æœˆæ–°ç•ª', 'ä¿®è¡¥è¢«ç ´åçš„åŸå ¡', 'å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹', 'å†¶ç‚¼æœ€å¼ºçš„é‡‘å±',
    'å¬é›†é‚ªæ¶æ‰‹ä¸‹å¼€ä¼š', 'æœé›†æœ‰å…³è‹±é›„çš„æƒ…æŠ¥', 'è®¾è®¡æ¶é­”æ ‡å¿—', 'çœ‹4æœˆæ–°ç•ª', 'å¬å”¤æ¶é­”ä»ªå¼',
    'ç­–åˆ’ä¸€åœºæ¶ä½œå‰§', 'çœ‹7æœˆæ–°ç•ª', 'ç¼–å†™é‚ªæ¶æ‰‹å†Œ', 'ç ´åéš”å£æ¶é­”çš„å•†ä¸šè®¡åˆ’', 'æ‹›å‹Ÿæ–°çš„é‚ªæ¶æˆå‘˜',
    'å¼€å±•é»‘æš—ä»ªå¼', 'å¤ºå–å®è—', 'æ”¶é›†é­”æ³•ç‰©å“', 'å¼•å‘ææ…Œå’Œæ··ä¹±', 'å‘å±•é‚ªæ¶ç§‘æŠ€',
    'çœ‹10æœˆæ–°ç•ª', 'åˆ¶é€ æ¯’è¯å’Œè¯…å’’', 'å»ºç«‹é‚ªæ¶ç‹å›½', 'å¾æœä¸–ç•Œï¼', 'ç ´åè‹±é›„çš„å£°èª‰',
    'å¬å”¤é‚ªæ¶ç²¾çµå†›å›¢', 'è®¾è®¡æ¯ç­æ€§çš„é‚ªæ¶è£…ç½®', 'å¤æ´»å¼ºå¤§çš„é‚ªæ¶å·«å¸ˆ', 'åˆ¶é€ æ— æ³•æŠµæŒ¡çš„ç˜Ÿç–«',
    'å»ºç«‹é‚ªæ¶çš„ç§˜å¯†åŸºåœ°', 'å‘åŠ¨é»‘æš—èƒ½é‡çš„ä»ªå¼', 'ç»Ÿæ²»é‚ªæ¶çš„æ¬¡å…ƒ', 'ç…½åŠ¨åæŠ—å†›', 'å¼•å‘é‚ªæ¶çš„å¤§æ´ªæ°´',
    'é©±ä½¿é‡å…½æ”»å‡»æ— è¾œçš„äººä»¬', 'å‘èµ·è‡´å‘½çš„é»‘å¸‚äº¤æ˜“', 'å •è½æ­£ä¹‰çš„å®ˆæŠ¤è€…', 'å¯åŠ¨æ¯ç­æ€§çš„è®¡æ—¶å™¨',
    'å‘å±•é‚ªæ¶çš„ç”ŸåŒ–ç§‘æŠ€', 'æ´—è„‘åŸå¸‚å±…æ°‘', 'é‡Šæ”¾é»‘æš—ä¹‹é­‚', 'æ‘§æ¯åœ£åœ°å’Œç¥æ®¿', 'è¿½æ•å¹¶æŠ¹æ€è‹±é›„'
]

start_dates = [
    '2023-02-10', '2023-05-02', '2023-02-23', '2023-03-17', '2023-04-29',
    '2023-09-05', '2023-05-12', '2023-03-22', '2023-04-09', '2023-07-13',
    '2023-09-10', '2023-07-05', '2023-08-31', '2023-10-08', '2023-08-28',
    '2023-09-01', '2023-09-07', '2023-08-22', '2023-11-18', '2023-12-11',
    '2023-10-12', '2023-01-03', '2023-06-21', '2023-12-28', '2023-08-18',
    '2023-06-11', '2023-12-04', '2023-04-16', '2023-11-09', '2023-07-26',
    '2023-05-21', '2023-12-31', '2023-01-09', '2023-03-29', '2023-07-19',
    '2023-03-22', '2023-10-04', '2023-08-14', '2023-11-30', '2023-04-19',
    '2023-02-11', '2023-01-02', '2023-09-06'
]

durations = [
    17, 8, 31, 14, 28, 20, 24, 5, 9, 26,
    12, 21, 15, 30, 11, 4, 25, 5, 18, 16,
    10, 23, 29, 6, 27, 13, 22, 6, 32, 7,
    25, 6, 12, 29, 13, 22, 9, 14, 21, 8,
    30, 4, 19
]

importances = [
    2, 3, 1, 0, 1, 0, 1, 2, 3, 2,
    2, 3, 0, 0, 3, 1, 3, 1, 3, 2,
    3, 0, 1, 2, 1, 3, 2, 1, 0, 0,
    1, 1, 3, 0, 2, 2, 0, 3, 2, 3,
    3, 2, 0
]

# åˆ›å»º SQLite æ•°æ®åº“
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# åˆ›å»ºäº‹ä»¶è¡¨
cursor.execute('''
CREATE TABLE events (
    id INTEGER PRIMARY KEY,
    event TEXT,
    start_date DATE,
    duration INTEGER,
    importance INTEGER
)
''')

# æ’å…¥æ•°æ®
for i in range(len(events)):
    cursor.execute('''
    INSERT INTO events (event, start_date, duration, importance)
    VALUES (?, ?, ?, ?)
    ''', (events[i], start_dates[i], durations[i], importances[i]))

# åˆ›å»ºæ¯æ—¥æ—¥æœŸè¡¨
cursor.execute('''
CREATE TABLE calendar AS
WITH RECURSIVE date_gen AS (
    SELECT DATE('2023-01-01') AS date
    UNION ALL
    SELECT DATE(date, '+1 day')
    FROM date_gen
    WHERE date < DATE('2023-12-31')
)
SELECT date, strftime('%w', date) AS weekday FROM date_gen
''')

# æŸ¥è¯¢æ»¡è¶³æ¡ä»¶çš„å‘¨æœ«å¤©æ•°
query = '''
WITH active_weekends AS (
    SELECT 
        c.date,
        c.weekday,
        COUNT(e.id) AS active_count
    FROM calendar c
    LEFT JOIN events e
    ON c.date BETWEEN e.start_date AND DATE(e.start_date, '+' || e.duration || ' days')
    WHERE c.weekday IN ('0', '6') -- ä»…é™å‘¨å…­å’Œå‘¨æ—¥
    GROUP BY c.date
)
SELECT COUNT(*) AS busy_weekend_days
FROM active_weekends
WHERE active_count >= 2
'''
cursor.execute(query)
result = cursor.fetchone()
print(f"2023 å¹´éœ€è¦æ‰§è¡Œ >=2 ä¸ªäº‹é¡¹çš„å‘¨æœ«å¤©æ•°: {result[0]} å¤©")

# å…³é—­è¿æ¥
conn.close()

2023 å¹´éœ€è¦æ‰§è¡Œ >=2 ä¸ªäº‹é¡¹çš„å‘¨æœ«å¤©æ•°: 75 å¤©

In [34]:
import pandas as pd
from datetime import datetime, timedelta

# æ„é€ æ•°æ®
events = [
    {"event": "æ‰“ç£¨æ–°çš„å…µå™¨", "start_date": "2023-02-10", "duration": 17, "importance": 2},
    {"event": "çœ‹1æœˆæ–°ç•ª", "start_date": "2023-05-02", "duration": 8, "importance": 3},
    {"event": "ä¿®è¡¥è¢«ç ´åçš„åŸå ¡", "start_date": "2023-02-23", "duration": 31, "importance": 1},
    {"event": "å®‰æ’å°æ¶é­”å»æ”¶ä¿æŠ¤è´¹", "start_date": "2023-03-17", "duration": 14, "importance": 0},
    # æ·»åŠ å…¶ä½™äº‹ä»¶æ•°æ®...
]
events_df = pd.DataFrame(events)

# ç”Ÿæˆ 2023 å¹´æ¯æ—¥æ•°æ®
dates = pd.date_range(start="2023-01-01", end="2023-12-31")
calendar_df = pd.DataFrame({"date": dates})

# è®¡ç®—ç¹å¿™ç³»æ•°
def compute_busy_factor(date, events_df):
    # å½“å¤©çš„äº‹é¡¹
    current_day_events = events_df[
        (events_df["start_date"] <= date) &
        (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") >= date)
    ]
    avg_importance_today = current_day_events["importance"].mean() if not current_day_events.empty else 0

    # æœªæ¥ 3 å¤©å†…ç»“æŸçš„äº‹é¡¹
    ending_3days_events = events_df[
        (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") > date) &
        (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") <= date + timedelta(days=3))
    ]
    avg_importance_ending_3days = ending_3days_events["importance"].mean() if not ending_3days_events.empty else 0

    # æœªæ¥ 3 å¤©å†…å¼€å§‹çš„äº‹é¡¹
    starting_3days_events = events_df[
        (events_df["start_date"] > date) &
        (events_df["start_date"] <= date + timedelta(days=3))
    ]
    avg_importance_starting_3days = starting_3days_events["importance"].mean() if not starting_3days_events.empty else 0

    return avg_importance_today * 0.5 + avg_importance_ending_3days * 0.2 + avg_importance_starting_3days * 0.3

# æ·»åŠ ç¹å¿™ç³»æ•°åˆ°æ¯æ—¥æ•°æ®
calendar_df["busy_factor"] = calendar_df["date"].apply(lambda d: compute_busy_factor(d, events_df))

# ç­›é€‰ç¹å¿™çš„å¤©æ•°
busy_days = calendar_df[
    (calendar_df["date"].apply(
        lambda d: len(events_df[
            (events_df["start_date"] <= d) &
            (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") >= d)
        ]) >= 2
    )) |
    (calendar_df["date"].apply(
        lambda d: len(events_df[
            (events_df["start_date"] > d) & (events_df["start_date"] <= d + timedelta(days=3)) & (events_df["importance"] > 2)
        ]) > 0
    )) |
    (calendar_df["date"].apply(
        lambda d: len(events_df[
            (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") > d) &
            (events_df["start_date"] + pd.to_timedelta(events_df["duration"], unit="d") <= d + timedelta(days=3)) & (events_df["importance"] > 1)
        ]) > 0
    ))
]

# è®¡ç®—æ€»ç¹å¿™ç³»æ•°
busy_factor = busy_days["busy_factor"].sum()
print(f"ç¹å¿™ç³»æ•°ï¼ˆæ•´æ•°ä½ï¼‰: {int(busy_factor)}")

TypeError: '<=' not supported between instances of 'str' and 'Timestamp'